[2014-02-06 09:23] sepjansen opened #2 "Deprecated include tag in hydro"
When trying to convert to xacro models to urdf, the following error occurs:

[code]

[2014-02-28 01:42] shaun-edwards opened #3 "Wiki page doesn't show groovy version"
The [robotiq](http://wiki.ros.org/robotiq) wiki page does not show the repo location for the groovy release.  This information should be added to the appropriate rosdistro file.  The groovy version is hosted on google code [here](https://code.google.com/p/swri-ros-pkg/source/browse/#svn%2Fbranches%2Fgroovy%2Frobotiq)

[2014-06-20 05:07] orikuma opened #7 "Activate flag is set to zero when starting connection to RobotiqHand"
When I connect to RobotiqHand using robotiq_s_model_control, activate flag is set to 0 even if I have connected RobotiqHand  before and keep power of RobotiqHand on.
Is it correct behavior of robotiq_s_model_control? And does it caused by robotiq_s_model or RobotiqHand farmware specifications?

[2014-06-20 12:45] nlauzier commented on #7
By default, all variables are set to 0 when robotiq_s_model_control is started. It was programmed this way since it was assumed that the node would be started once (at the same time as the gripper is powered). However, if the connection is lost or if the node is stopped and started again, it will reset the flag which is not desirable.

I see two ways of modifiying robotiq_s_model_control to change

[2014-06-27 10:16] fevb commented on #2
I would suggest the developers to open a 'hydro-devel' branch so that we can submit a pull request to fix that issue

[2014-06-27 13:48] shaun-edwards commented on #2
@fevb, I've created the branch.  Thanks for the suggestion.

[2014-06-27 14:39] #2 closed, assigned to nobody

[2014-09-25 20:26] shaun-edwards opened #9 "Create an indigo branch"
New robotiq documentation indicates the latest version of the robotiq packages work on both Indigo and Hydro.  If this is true, we should create and Indigo branch.

[2014-09-25 20:26] shaun-edwards commented on #9
@nicolaslauzier, please comment.

[2014-11-21 15:47] mikepurvis commented on #3
Groovy is EOL and the buildfarm jobs have been stopped, so this ship has sailed. However, I've filed a PR to add indexing for Hydro and Indigo:

https://github.com/ros/rosdistro/pull/6325

[2014-12-03 19:07] shaun-edwards opened #10 "Doc job is failing"
The robotiq document job is failing, see [here](http://jenkins.ros.org/job/doc-indigo-robotiq/4/console).  The problem appears to be due to a faulty `catkin_package` delcaration, see [here](https://github.com/ros-industrial/robotiq/blob/groovy-devel/robotiq_modbus_rtu/CMakeLists.txt#L22).

`python-pymodbus` is not a catkin package.  It should probably moved under a regular `DEPENDS`.  This might f

[2014-12-03 19:08] shaun-edwards commented on #10
@mikepurvis, this is currently preventing the wiki from updating.

[2014-12-03 19:17] nicolaslauzier commented on #10
I'm not very familiar with Depends in ROS but pymodbus can be installed using "apt-get install python-pymodbus".

Where can we define it as a regular depends?

[2014-12-03 19:19] gavanderhoorn commented on #10
On 3-12-2014 20:17, nicolaslauzier wrote:

Only catkin packages should be listed after `CATKIN_DEPENDS`. Any
non-catkin package should just be declared using `DEPENDS`. Just add it to the `catkin_package(..)` statement.

Edit: as @shaun-edwards already wrote .. sorry for the noise.

[2014-12-03 19:21] mikepurvis commented on #10
I actually don't have write access to https://github.com/ros-industrial/robotiq/ or anything else in ROS-I. @shaun-edwards, can you take care of making the necessary change?

[2014-12-03 20:47] shaun-edwards commented on #10
@mikepurvis, I mentioned you so that you knew why the wiki wasn't updating (I believe you were the one that submitted the `rosdistro` update.

@nicolaslauzier, can you make the change?  What @gavanderhoorn  suggests should work.

[2014-12-03 20:52] mikepurvis commented on #10
Okay, yes, thanks. My apologies for not keeping closer tabs on this.

[2014-12-03 20:56] nicolaslauzier commented on #10
@shaun-edwards, I did make/commit the changes for both branches (I still haven't created an Indigo branch yet, sorry about this).  Should we wait for Jenkins to run again or is there a way to tell it to do a new pass?

@gavanderhoorn and @shaun-edwards, thanks for the help!

[2014-12-03 21:08] #9 closed, assigned to nobody

[2014-12-03 21:08] #3 closed, assigned to nobody

[2014-12-03 21:10] shaun-edwards commented on #10
@nicolaslauzier, I went ahead and created the indigo branch (it's easy to do from the web).  I believe we will have to wait until next week for jenkins to run a new pass.

[2014-12-03 21:16] nicolaslauzier commented on #10
@shaun-edwards, thanks! I've been away from ROS and github for a while now and it seems that I forgot how easy it can be! =o)

[2014-12-04 08:00] gavanderhoorn commented on #10
I just remembered that python-only dependencies do not get added to the `DEPENDS` list of the `catkin_package(..)` statement. From [Python module dependencies](http://docs.ros.org/indigo/api/catkin/html/howto/format1/python_module_dependencies.html):

They should just be listed as `run_depend`s and `build_depend`s in the package manifest.

[2014-12-04 08:02] gavanderhoorn opened #11 "Build scripts try to set EXEC_OUTPUT_PATH and LIB_OUTPUT_PATH"
From `robotiq_s_model_control/CMakeLists.txt` fi:

[code]

Afaik, this is not supported anymore in catkin. I think it is even 'illegal'.

[2014-12-04 16:32] shaun-edwards commented on #10
Still broken :( ([here](http://jenkins.ros.org/job/doc-indigo-robotiq/5/console)).  Looks like @gavanderhoorn may be right.  Sorry I can't provide much guidance on this one.  I'm not that familiar with python/catkin.  @nicolaslauzier, can you try what @gavanderhoorn suggests?

[2014-12-29 21:14] UltronDestroyer opened #14 "robotiq_gripper_action package"
Is this anywhere on the horizon for development? I need it so I can have a functional gripper in MoveIt and Gazebo

[2014-12-30 15:08] shaun-edwards commented on #14
I don't know of anyone doing this.  I can see the need but it's not one
that we currently have.

On Mon, Dec 29, 2014 at 3:14 PM, Devon Ash notifications@github.com wrote:

[2014-12-30 15:28] UltronDestroyer commented on #14
What do you use for grabbing objects? Is it a separate grab pipeline from MoveIt's motion planner?

[2014-12-30 22:47] shaun-edwards commented on #14
We developed out own pipeline for picking, before the MoveIt pipeline
exists.

On Tue, Dec 30, 2014 at 9:28 AM, Devon Ash notifications@github.com wrote:

[2014-12-31 02:51] shaun-edwards commented on #14
@TheDash, Now that I'm thinking of it, I may have the resources (and need) to develop this interface.  It wouldn't be done until mid to late February.  Does this work for you?  Also, our Robotiq grippers are EtherCAT versions.  We would make every effort to generalize our action interface to the different protocols, but I'm not sure that will be possible.

[2014-12-31 02:57] UltronDestroyer commented on #14
@shaun-edwards

I've started writing the gripper_action server today. I copied it from the baxter's GripperActionServer. Minimal changes should be required if you wish to start there. https://github.com/RethinkRobotics/baxter_interface/blob/master/scripts/gripper_action_server.py

Mid to late February sounds good, I'll check with the timeline for our projects. Specifically, I think the robotiq's T

[2015-01-15 16:34] UltronDestroyer commented on #14
http://gazebosim.org/tutorials?tut=drcsim_robotiq_hand&cat=drcsim This has a lot of work done for a controller in simulation.

[2015-01-19 08:15] gavanderhoorn opened #18 "meta: wrong url given for 'website' in package manifest"
The metapackage points users to `http://ros.org/wiki/motoman`, which is incorrect.

[2015-01-20 05:17] UltronDestroyer opened #19 "Private members are accessed in RobotiqHandPlugin.cpp (gazebo_plugins for Robotiq s-model)"
This is a hack to make it work in ROS Hydro with Gazebo 1.9. Work arounds are suggested if you have any, but this will work 100% in ROS Jade, so no necessary fix is required. Current implementation re-defines the private members to be public via a pre-processor macro re-declaration. See comment in the .cpp file for clarification on the matter.

[2015-02-08 23:49] Jmeyer1292 commented on #14
@TheDash You have not been forgotten! I've developed a gripper action server and will submit a pull request tomorrow morning after I do some testing on the changes I made this weekend. There's also an EtherCAT interface following close on its heels.

[2015-02-11 23:22] dirk-thomas commented on #10
I just run into the same problem on the new build farm. The problem is the `requires` entry in the `setup.py` file of the `robotiq_modbus_rtu` package: https://github.com/ros-industrial/robotiq/blob/0fc9203ff93a39880446234bcf1dfd7eaff00a0b/robotiq_modbus_rtu/setup.py#L10
Basically the part after the dash in `python-pymodbus` is being interpreted as a versioned dependency - but it doesn't parse as

[2015-02-13 18:41] mdedonato opened #22 "tcp and rtu modules cause catkin_make install to fail"
It should be a simple fix, but catkin_make install fails on these two packages.

[2015-02-14 09:29] gavanderhoorn commented on #22
The cause of the failure seems to be the same as reported by @dirk-thomas in #10: the `requires` field in `setup.py`.

Removing the field 'solves' the issue with `catkin_make install` (and most likely also the doc job problem). However, I assume the `requires` field was put in for a reason (namely: to express a dependency on the listed modules). For ROS at least, that dependency is already express

[2015-02-14 09:33] gavanderhoorn commented on #10
@dirk-thomas: removing the `python-` prefix should also work (see #22)?

[2015-02-14 19:13] dirk-thomas commented on #10
I am not sure why to keep the `require` entry since the setup.py file of catkin packages is commonly not supposed to be invoked directly.

But yes, I assume removing the prefix should make it work.

[2015-03-04 17:09] UltronDestroyer opened #23 "Request for release: Indigo"
If this could be released into Indigo that'd be great!

[2015-03-04 19:23] shaun-edwards commented on #23
Robotiq has never been released (as a deb).  The primary hurdle has been what to do with the [pymodbus](http://wiki.ros.org/robotiq/Tutorials/Control%20of%20an%20S-Model%20Gripper%20using%20the%20Modbus%20TCP%20Protocol#Prerequisites) dependency.  I haven't had time to look into it.  Pymodbus is not available via apt-get.

[2015-03-04 19:26] UltronDestroyer opened #24 "Robotiq_c2_model visualization in gazebo doesn't spawn fully"
Only the base of the hand is there (e.g not the 2 fingers that move inward). However, in Rviz, i can fully see the model.

[2015-03-04 19:30] UltronDestroyer commented on #23
Hmmm, I wonder if we can get around that..

[2015-03-23 21:09] UltronDestroyer commented on #24
ping @shaun-edwards

The issue here is that there is no inertial elements for the c2 model gripper. IS it possible we can get some good values for this so I can insert it into the model. This will enable Gazebo capability.

[2015-03-23 21:38] shaun-edwards commented on #24
We had some discussion about utilizing the values for the model c gripper, see #16.  Ultimately, we pulled them out because we weren't sure how accurate they were.  We asked @nicolaslauzier, to provide accurate numbers in the future, but without anybody asking, there was no urgency.  @nicolaslauzier, could you provide the c2 inertia values, sooner rather than later.

[2015-03-24 14:21] UltronDestroyer commented on #24
Thanks. That should get the ball rolling on this.

[2015-03-24 15:17] nicolaslauzier commented on #24
I'll bring it to our internal discussions but I think it will be difficult to make it a short term priority. Should we also provide data regarding the spring for modeling the under-actuation?

[2015-03-24 15:22] UltronDestroyer commented on #24
That would be ideal. We are planning to use it sometime end of May (ICRA 2015) and want to have the simulation up and ready before the real robot gets built again. I am hoping to have the simulation done either this week or next week. The limiting factor is not being able to use the proper gripper, so I'm using the PR2's gripper right now.

Whenever you guys choose to get it done, it's up to you.

[2015-03-25 13:58] nicolaslauzier commented on #24
Just curious, is it to be used for the Amazon picking challenge?

I think that having the proper spring data is essential to model the gripper correctly but I haven't tried the 3F gripper model so I cannot tell for sure.

A lot of people are away this week so I should be able to provide you an answer early next week.

[2015-03-25 13:59] UltronDestroyer commented on #24
It will just be at ICRA for demos, no APC.

[2015-05-14 11:43] gavanderhoorn opened #26 "catkin_lint errors"
[code]

[2015-05-21 13:43] #10 closed, assigned to nobody

[2015-05-21 13:43] #22 closed, assigned to nobody

[2015-05-27 06:57] gavanderhoorn commented on #10
Seems like all doc jobs have run to completion now. Version rocker on the wiki pages is missing only the `groovy` button, but since the groovy buildfarm is gone, the doc jobs aren't run anymore for that distro.

[2015-05-27 13:19] nicolaslauzier commented on #10
Thanks for that!

2015-05-27 2:57 GMT-04:00 G.A. vd. Hoorn notifications@github.com:

##

_Nicolas Lauzier, ing., *_Eng., Ph. D.*
_Chargé de projet / Project Manager_
1-888-ROBOTIQ (762-6847) ext. 206

nicolas@robotiq.com
robotiq.com
blog.robotiq.com

Follow us on / Suivez-nous sur
http://www.facebook.com/pages/Robotiq/122478611152517
https://plus.google.com/u/0/b/100363269019698451101/10036326901

[2015-06-11 07:16] lorenz-halt opened #31 "URDF for robotiq force-torque-sensor"
Is there a urdf description of the force-torque-sensor especially including the frame the force-torque measurements are published in?

Thanks for your help!

[2015-06-24 12:24] gavanderhoorn opened #33 "Make indigo-devel branch the default branch"
Not too important, but since there haven't been any releases, it might be nice to change the default branch to `indigo-devel`. All the new PRs are merged into that, and right now those changes are invisible.

Would also help with source checkouts.

[2015-06-24 14:17] shaun-edwards commented on #33
Done.

[2015-06-24 14:17] #33 closed, assigned to nobody

[2015-07-03 09:33] gavanderhoorn commented on #31
@ipa-lth: can this be closed?

[2015-07-06 19:33] futureneer opened #37 "Improper clean up of serial interface on ctrl-c of rq_sensor"
Hello,
When ctrl-c is invoked on rq_sensor, I believe the serial interface is not being cleaned up properly. I think this because when the sensor is restarted shortly after the ctrl-c, it takes MUCH longer to start streaming at full speed. If you wait a few minutes after invoking ctrl-c, it starts just fine.  I have had this same behavior with serial connections that are not closed properly, so th

[2015-07-06 20:26] nicolaslauzier commented on #37
I don't know if there is a way to catch ctrl+c inside of a ROS node. If so, it would make sense to close the serial port properly at this moment.

As far as I recall, there is no such mechanism implemented in the node for the FT sensor.

[2015-07-06 20:52] shaun-edwards commented on #37
I believe this can be done with a custom SIGINT handler, see [here](http://wiki.ros.org/roscpp/Overview/Initialization%20and%20Shutdown#Custom_SIGINT_Handler)

[2015-07-07 15:39] shaun-edwards opened #38 "EtherCAT robotiq packages require external library"
The EtherCAT packages require a forked version of [SOEM](https://github.com/ros-industrial/ethercat-soem).  This is not documented anywhere and could potentially trip up some users.

A _Installation from Source_ section should be added to the [wiki page](http://wiki.ros.org/robotiq).  Current dependencies are:
- SOEM
- pyModbus - From tutorial `Finally, make sure that the external dependency for t

[2015-07-07 15:41] shaun-edwards commented on #38
@Jmeyer1292, I haven't verified this issue, but I believe we need to add these instructions to assist the users in installing dependencies.  This should be a quick change.

[2015-07-07 15:42] gavanderhoorn commented on #38
Please avoid using `easy_install` (from `setuptools`), use `pip`. But then only if really necessary, as it circumvents your system's package manager.

[2015-07-07 16:16] shaun-edwards opened #39 "Utilize soem ROS package instead of forked ethercat_soem"
A ROS SOEM library already exists as a debian in Indigo (it's built from [here](https://github.com/smits/soem)).  The latest merges to support an EtherCAT version of the robotiq gripper require a forked version, [here](https://github.com/ros-industrial/ethercat-soem).

I believe the original version was forked to provide catkin support.  This now exists in the original SOEM version.  If we utilize

[2015-07-07 16:17] shaun-edwards commented on #39
@Jmeyer1292, can you comment?

[2015-07-07 16:39] Jmeyer1292 commented on #38
I'll get on it.

[2015-07-07 16:40] Jmeyer1292 commented on #39
@shaun-edwards I'm not attached to my version of SOEM. I'll test this one out with our drivers and report back.

[2015-07-07 18:01] futureneer commented on #37
I mean, couldn't you just put some sort of clean up command after the
while(ros::ok) loop that closes everything down? That seems to be a common
pattern that I have used before.

Is there any command, say in the rq_sensor_com that could be called after the loop?

On Mon, Jul 6, 2015 at 4:52 PM Shaun Edwards notifications@github.com
wrote:

[2015-07-08 13:33] shaun-edwards commented on #38
I added installation instructions to the [wiki](http://wiki.ros.org/robotiq#Installation).  This is just a temporary fix until #39 is addressed.

[2015-07-08 13:33] #38 closed, assigned to nobody

[2015-07-11 02:10] shaun-edwards commented on #39
I started a fix [here](https://github.com/shaun-edwards/robotiq/tree/issue39_soem_lib), but I'm blocked until smits/soem#4 is addressed.

[2015-07-17 16:01] Jmeyer1292 opened #40 "Gripper Command Topics Don't Agree"
The Modbus nodes controlling C/S model grippers use the topics: `SModelRobotOutput`, `SModelRobotInput`, `CModelRobotOutput`, and `CModelRobotInput`.

The newly added Ethercat nodes are supposed to use:

[code]

But it looks like I used them wrong (put them at the end of the node body) so they actually listen to `gripper_server/input` and `gripper_server/output`.

I chose those new names because t

[2015-08-03 07:27] #31 closed, assigned to nobody

[2015-08-04 02:10] shaun-edwards opened #42 "Control msg dependency not properly declared"
The `robotiq_action_server` references `control_msgs` in the CMakeLists.txt, but it is not in the package.xml.

This appears to be causing the following [failure](http://jenkins.ros.org/job/devel-indigo-robotiq/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/9/console) on the build farm.

[2015-08-04 02:11] shaun-edwards commented on #42
I wonder if `catkin_lint` would have caught this issue?

[2015-08-04 07:02] gavanderhoorn commented on #42
yep:

[code]

[2015-08-04 07:07] gavanderhoorn commented on #26
Update (`catkin_lint -W2 robotiq` run against repo at f3e1c987):

[code]

[2015-08-04 07:07] gavanderhoorn commented on #42
See also #26.

[2015-09-11 13:20] theNerd247 commented on #38
The documentation on the wiki is a bit misleading. It requests the package [here](https://github.com/ros-industrial/ethercat-soem) to be installed in the catkin workspace however, robotiq_ethercat requires  the soem package...it's causing a bunch of catkin_make errors. Namely, the soem package can't be  found. According to #39 I'm assuming we should go for the debian package instead? Or at least t

[2015-09-11 13:57] Jmeyer1292 commented on #38
Yes, I believe since the change you should use the debian package for soem that can be obtained by `sudo apt-get install ros-indigo-soem`.

@theNerd247 Can you please point out to me where the incorrect information is? Thanks.

[2015-09-11 16:04] theNerd247 commented on #38
On [this](http://wiki.ros.org/robotiq) page. The section that says to clone this repo:

[code]

I believe

[code]

Is what you mean now - or at least that's what worked for me.

[2015-09-11 23:01] shaun-edwards commented on #38
@theNerd247, my apologies.  I fixed the original issue, but failed to update the documentation.  I've update the wiki with the apt-get installation.  Thanks for pointing this out!

[2015-09-15 13:48] theNerd247 opened #44 "Better UI for Robitq SModel"
I may be unaware of this, however the user API for the SModel seems a bit raw. What I mean is, is there an API such that I don't have to deal with the registers on the gripper directly. The robotiq_s_model_controller/SModelTcpNode seems to act as a wrapper with a transparent interface - rather than an abstraction. For example it would be nice to have an API that deals directly with the SModelTcpNo

[2015-09-15 13:52] fevb commented on #44
Hi,

I have developed a bit of a C++ / python wrapper for the S model:
https://github.com/kth-ros-pkg/robotiq_s_model_utils/tree/hydro/robotiq_s_model_control_client

You can see an example using the python wrapper in the **scripts** folder

[2015-09-15 14:12] theNerd247 commented on #44
Great! I'll take a look at it. I'm using c++ for development.

[2015-09-15 16:14] theNerd247 commented on #44
So I think the library is a good start. I think it'll need some cleanup however it would be nice to see it merged with this package.

[2015-11-17 16:20] ghost commented on #24
Did someone solve the problem right now?

I tried to spawn the robotiq_c2_gripper attached to an UR5 in Gazebo, but only the base of the gripper was shown. With this i got the message `Assimp reports no scene in package:// ...`
(When i extract meshes from the Step-File of the newer 2-Finger-85 and load them into the model, i no longer get this message, but the gripper will still not spawn complete

[2015-12-02 15:06] J-Schaefer commented on #24
I found a model of the Robotiq 85 Gripper created by [StanleyInnovations](https://github.com/StanleyInnovation/robotiq_85_gripper).
It is not the C2 Gripper but it works quite fine. And there are inertial values given.

[2015-12-08 01:47] arvinasokan commented on #14
The Robotiq C model gripper action server does not seem to work with RTU controller even after I remapped them to the proper controller topics in the launch file, Has the C model gripper action server been tested ?

[2015-12-08 14:29] Jmeyer1292 commented on #14
Hey @arvinasokan, I wrote that action server. Ill find our C model today and we'll try and hunt down the issue.

Sorry for the trouble you are having.

[2015-12-08 21:02] Jmeyer1292 commented on #14
Alright @arvinasokan:

The grippers that I have (and developed/tested with) is the second generation C 85 mm model in Modbus and Ethercat. If you don't have an 85, there is some additional configuration you'll have to set in the launch file for the action server that allows the robot to map from register values to engineering units. Please see [here](https://github.com/ros-industrial/robotiq/blob/

[2015-12-10 23:14] Jmeyer1292 commented on #14
ping @arvinasokan

[2015-12-10 23:36] arvinasokan commented on #14
Dear Jonathan,
Sorry,I was not able to reply before, got a little bit busy.
Yes I am using the the second generation gripper, but I didn't actually set the "CModelRobotInput:=/gripper/input CModelRobotOutput:=/gripper/output" when I  Rosran the controller.
Also I didn't use the controller box as I was just using their USB to RS485 converter to connect to the gripper and the Force/Torque sensor.
Th

[2015-12-11 16:03] Jmeyer1292 commented on #14
@arvinasokan Thanks for the feedback. I admit I don't understand the issue: The action server was able to get to the goal, but not the gripper?

The `CModelRobotInput:=/gripper/input` and `CModelRobotOutput:=/gripper/output` is just the way remaps get passed to your node on the command line at start-up. It is equivalent to writing `<remap from="CModelRobotInput" to="/gripper/input"/>` in a launch

[2016-01-11 13:37] james2254 opened #45 "Can not connect gripper by USB"
When I run  rosrun robotiq_c_model_control CModelRtuNode.py,there is a misstake.What should I do?
![2016-01-11 21 36 31](https://cloud.githubusercontent.com/assets/15374283/12234963/760b4f34-b8ab-11e5-975f-6a27829faab4.png)

[2016-01-11 14:13] shaun-edwards commented on #45
@james2254, looks like the node is expecting command line arguments.

[2016-01-12 01:47] james2254 commented on #45
@shaun-edwards I download the package and run the node by the ROS wiki .Change the node or other
method, which can solve this issue ?  thank you !

[2016-02-09 20:36] davetcoleman opened #49 "Assimp reports no scene in robotiq_c2_model_visualization"
When using Rviz, the meshes in robotiq_c2_model_visualization seem to be improperly exported from SolidWorkds/MeshLab or wherever they came from:

[code]

I believe @mcevoyandy knows the easy fix for this

[2016-02-09 20:49] shaun-edwards commented on #49
This sometimes happens when the file path is too long. You could try moving
your workspace.
On Tue, Feb 9, 2016 at 2:36 PM Dave Coleman notifications@github.com
wrote:

[2016-02-09 21:28] davetcoleman commented on #49
Indeed, I renamed the package from `robotiq_c2_model_visualization` to `robotiq_c2` and the problem went away. Note I did _not_ change any filenames or folder names. I think I have a better fix than changing my root file path...

[2016-02-18 19:08] davetcoleman opened #52 "Release for ROS Jade?"
Looks like [soem](https://github.com/smits/soem/issues/5) is a missing dependency still, so I just filed an issue there. Is there a plan to soon release this package to Jade?

[2016-03-29 08:13] james2254 opened #55 "Run error when loading 2F gripper"
when I run "roslaunch robotiq_c_model_control c_model_ethercat.launch" in the terminal,there is a error. what's wrong with it?
![2016-03-29 16 07 27](https://cloud.githubusercontent.com/assets/15374283/14101763/180a4164-f5c9-11e5-9ab8-02c5b23a84f2.png)

[2016-03-29 08:15] gavanderhoorn commented on #55
Have you remembered to build your workspace first? And then source the appropriate `setup.bash`?

PS: would you please copy/paste console output like this in the future? Screenshots aren't searchable, and they also make it hard to reply to issues by mail.

[2016-03-29 10:50] james2254 commented on #55
@gavanderhoorn Thank you help me to point out flaws.I have built my workspace,and run "source devel/setup.bash "in the workspace.

[2016-03-29 11:01] gavanderhoorn commented on #55
and you still get the same error?.

[2016-03-29 11:08] james2254 commented on #55
Yes ,my ROS versions is indigo. I have download the soem and install the robotiq-modbus-tcp,then load   the robotiq package from https://github.com/ros-industrial/robotiq .when I  run "roslaunch robotiq_c_model_control c_model_ethercat.launch" in the terminal, still get the same error.

[2016-03-29 11:21] gavanderhoorn commented on #55
So you basically do:

[code]

and then finally

[code]

in that same terminal? And that fails with the error message you showed?

[robotiq_c_model_control/CMakeLists.txt](https://github.com/ros-industrial/robotiq/blob/2586c4b4adba3da0ba1c99f5a334296449caaf32/robotiq_c_model_control/CMakeLists.txt#L64-L65) is missing `install(..)` statements for that particular node, so running from an `install` sp

[2016-03-30 05:48] james2254 commented on #55
[code]

This is the output.

[2016-03-30 07:28] gavanderhoorn commented on #55
Ok. And just to make sure: your workspace is basically setup as I described?

Can you tell us what the output is of `ls -al /home/james/catkin_ws/devel/lib/robotiq_c_model_control`?

[2016-05-27 20:15] UltronDestroyer opened #67 "When including the s-model_articulated_macro.xacro file I get this error"
xacro.XacroException: Property wasn't defined: u'prefix'

Which prevents me from using the gripper in a xacro. Thoughts? I have defined the prefix parameters.

[2016-05-28 06:25] gavanderhoorn commented on #67
If you could post a snippet showing how you include and then instantiate the macro that would help.

[2016-06-02 08:37] xsmxsm opened #68 "catkin_make error"
[code]

[2016-06-02 08:40] gavanderhoorn commented on #68
[code]

It would seem this is an error in `soem`, and not in this (`robotiq`) package.

Also: when reporting problems with build infrastructure, it's a good idea to include information on your OS, its version, how you installed it, version of ROS, how you installed that, etc, etc.

[2016-06-02 09:38] xsmxsm commented on #68
but before I put the robotiq package into workspace , catkin_make successed , when I put the robotiq package into workspace , it show error.Why?

[2016-06-02 09:39] gavanderhoorn commented on #68
Because nothing in your workspace was using the `soem` package?

[2016-06-02 09:40] xsmxsm commented on #68
nothing

[2016-06-02 09:47] gavanderhoorn commented on #68
No I meant: you did not get an error before, because no other package uses the `soem` package (which is the one with the error).

[2016-06-02 09:47] gavanderhoorn commented on #68
Which OS are you trying to build this on? Does it have CMake version > 3?

[2016-06-02 09:50] xsmxsm commented on #68
ubuntu14.10  cmake version 2.8.12.2

[2016-06-02 20:16] UltronDestroyer opened #69 "Displaying colors in Gazebo"
Right now, the arm spawns with white instead of black. Do these files exist anywhere to change it to blakc/use coloring while having the articulated gripper?

[2016-06-02 21:14] shaun-edwards commented on #69
I'm going to need a little context.  What do you mean by arm?  What gripper are you using, S or C model?  By articulated, do you mean the model with the fingers that "move"?

[2016-06-02 21:26] UltronDestroyer commented on #69
My apologies, I meant gripper. I'm using the S model and would like it to be detailed or have the dae's like the real life model. Right now it spawns as white. It is for the model with fingers that move

[2016-06-02 23:25] shaun-edwards commented on #69
I believe (though I'm not sure), the models can be found here `robotiq/robotiq_s_model_visualization/meshes/s-model_articulated/`.  The models are STLs, which may explain why they aren't detailed/textured.  Meshlab can be used to create DAE files from STLs.  The result isn't pretty.

[2016-06-03 15:29] UltronDestroyer commented on #69
Ok, I'll take it as there are nothing (mesh wise) provided as yet and close this ticket.

[2016-06-03 15:29] #69 closed, assigned to nobody

[2016-06-03 15:30] UltronDestroyer opened #70 "robotiq_s_model_articulated_gazebo_plugins and robotiq_s_model_articulated_msgs haven't been ported forward from groovy-devel"
Do you mind if I make a PR for this? Any reason for holding it back from Hydro, Indigo, Jade?

[2016-06-03 18:07] UltronDestroyer opened #72 "Robotiq FT300 sensor drivers, urdf, models, meshes"
Do these exist anywhere? Can I use the FT150 driver for the FT300?

[2016-06-03 22:59] shaun-edwards commented on #72
@nicolaslauzier (robotiq) is probably the best one to ask.

[2016-06-06 13:00] nicolaslauzier commented on #72
The FT300 communicates exactly like the FT150 and as such, the same driver can be used for both sensors. I cannot comment for the urdf, models and meshes as these are from the community (Robotiq provides CAD model, but nothing in a ROS-compatible format).

Hope this helps.

[2016-06-24 15:41] UltronDestroyer commented on #72
I've made a PR adding the FT300.

[2016-06-25 17:20] shaun-edwards commented on #55
Thanks @gavanderhoorn for helping out.  @james2254 is this still an issue (it's quite old).  Let me know, otherwise I will close this.

[2016-06-27 01:13] james2254 commented on #55
I'm sorry for a long time not responding to you. @gavanderhoorn .It works well.You can close it. @shaun-edwards .Thank you very much.

[2016-06-27 02:07] #55 closed, assigned to nobody

[2016-07-08 16:38] UltronDestroyer opened #80 "Robotiq simulation"
Hi guys,

I've been thinking - I should make a separate repo for the gazebo plugins and simulation for the robotiq grippers. Simply because putting it into the robotiq stack doesn't make sense for the real robot as it makes robot hardware have to install gazebo which is massively unneeded.

Thoughts?

robotiq_simulation repo?

[2016-07-08 16:55] shaun-edwards commented on #80
So far in ROS-I, we've always included everything under a single repo for simplicity.  This has the main benefit of not having multiple PRs across several repos for changes, although I'm not sure how often such a change would touch simulation and hardware.

What "makes" you have to install gazebo?  Is it `rosdep`? If we released a debian (which we are pretty close to), would that make a difference

[2016-07-08 16:57] UltronDestroyer commented on #80
It would be the ros dependencies in the package.xml, since gazebo_plugins depends on gazebo, and if its included here, all robots with the hardware robotiq_ package have to then install gazebo which is unnecessarily large. This becomes a dep for the debian packages too, and it prevents compilation using catkin_make because gazebo isn't installed

[2016-07-08 18:03] shaun-edwards commented on #80
I see. Is it just a meta-package problem.  Should we create two meta-packages
- robotiq_hardware
  - ...
- robotiq_simulation
  - ...

And then the robotiq meta-package becomes:
- robotiq
  - robotiq_hardware
  - robotiq_simulation

Will this solve the issue?

[2016-07-08 18:11] athackst commented on #80
Doesn't this issue go away with the debian release?  Then you would install robotiq_<model>_control, which shouldn't have a dependency tree that points toward a gazebo plugin.  You wouldn't need to install the entire meta-package on a robot.

[2016-07-08 22:08] shaun-edwards commented on #80
Just an FYI...we are close to a debian release.  I just have to verify the installs are correct.  I'm out next week, so it may be a couple of weeks until this is done.

[2016-07-08 22:34] UltronDestroyer commented on #80
@athackst I guess so? As long as only everything that depended on gazebo was logically separated. If that's the case, the code should be divided as well into two meta-packages for clarity. It's a convention 90% of ROS enabled robots/hardware uses

@shaun-edwards
yeah, a robotiq_robot and robotiq_simulator (as per conventional naming) is ideal.

[2016-07-08 23:15] athackst commented on #80
@TheDash Then you would also have to add a robotiq_common because there should be shared resources between robot and simulator (for example the urdf and msgs).

Unless you're just suggesting two additional meta packages that will aide in debian installs and not a hierarchy.

[2016-07-09 00:14] UltronDestroyer commented on #80
Well, I'm up for it. We have deployed this code on 3-4 robots now and maintaining it as is is getting very difficult & logical commits/architecture are getting very messy.

I'll make some repos and reference them to this thread where you guys can code review and take a look and see if it makes sense. If they're good, we can initiate a transfer

[2016-07-27 18:01] carlosjoserg opened #81 "Error compiling from source, soem headers not found"
Hi, I'm on 16.04/Kinetic, that's why I had to compile from source.

Don't know how this worked before (I was on 14.04/Inidigo a week ago, and compiled from source robotiq, with soem from apt-get without problem), probably pointing to old commits or something. However, using the latest of both repositories, robotiq's and [soem](https://github.com/smits/soem) within the same catkin workspace didn't

[2016-07-28 15:12] shaun-edwards commented on #81
@carlosjoserg, thanks for the heads up.  We are still in catch-up mode for jade and kinetic.  Could this be related/same issue as addressed in PR #77

[2016-07-28 15:21] carlosjoserg commented on #81
Hi @shaun-edwards , not really sure. The description looks like, but certainly that PR is not addressing this issue for sure, and neither the file attached by the sender.

[2016-08-01 12:16] carlosjoserg commented on #45
Hi @james2254 , don't know if you solved the issue.

After you connect the gripper, check with `lsusb` it connected, you should see something like:

`Bus 001 Device 008: ID 0403:6015 Future Technology Devices International, Ltd Bridge(I2C/SPI/UART/FIFO)`

Then check with `dmesg | grep tty` what port it connected to. You should see something like:

`[ 6416.940532] usb 1-2: FTDI USB Serial Device co

[2016-08-01 12:35] carlosjoserg commented on #80
Hey @TheDash , how are you doing with the simulation? Could you point out the repos you say above?

I'm starting to work on the new 2F models, and I'd like to see what others are doing as well.

@shaun-edwards I'd like to create one unique folder like this:
- robotiq_2f_hardware
  - real : similar to PR #63 by @athackst
  - simulation : with the adaptable behavior added, not in gazebo_ros_control

[2016-08-01 13:02] james2254 commented on #45
@carlosjoserg Thank you very much! I have not sloved it and I will try it recently.

[2016-08-01 21:12] athackst commented on #80
@carlosjoserg That was the point of PR #63.  It has a comm abstraction layer that allows for the integration of the many different communication libraries that the hand supports.  If I were to reorganize this repo, I would separate out the communication files into their own separate packages (ex: robotiq_can, robotiq_ethercat, or even robotiq_gazebo for simmed comm) and they would depend on the sh

[2016-08-02 21:13] UltronDestroyer commented on #80
@carlosjoserg

No longer working on this stuff, and still unable to complete these long standing robotiq/universal_robot PR's =(.. until probably... January Lol

But thoughts:

as per convention that has worked rather well, is that each robot (or robotics product) has a _simulation package and a _robot package, each independently included on the computer it is intended for. This allows for logical

[2016-08-03 10:23] carlosjoserg commented on #80
@athackst Yes, I'm looking at it to develop it for the 2F models, since unfortunately, it can't be used for these, I believe. So that's what I am onto now.

Thanks for the thoughts @TheDash ... when you say the robotiq/universal_robot PR's what do you mean, could you point me to those PRs or work you have done? Is it that you wanted to have a single hwiface to move both devices using a single ethe

[2016-08-22 19:53] Kukanani opened #84 "Malformed STL Warnings on S-Model gripper RViz Load"
I receive the following warnings when loading the STL files for the S-model gripper:

[code]

I believe this is an easy fix, just open the files in MeshLab and re-save them.

[2016-11-03 17:51] atomoclast opened #86 "Issue with importing robotiq_cv_model_macro.xacro into my .xacro"
Hello all, I am trying to make a .xacro file that joins a UR10, a FT150 and a gripper. I am able to attatched and build the urdf as well as use check_urdf to verify the tree. The issue is the second I try to add in the gripper I keep getting this issue:

[code]

I have no idea what's wrong with the way the file is defined to where it's considering it a world. It looks written properly.

[2016-11-03 23:08] gavanderhoorn commented on #86
Could you tell us a bit more (or better yet: show us) how you are combining the three xacro macros into one?

[2016-11-05 13:05] wxmerkt commented on #80
@TheDash any update on the robotiq/universal_robot PRs? We are very keen to get them integrated to move forward with the dual_ur5_husky simulation and development

[2016-12-22 16:12] shaun-edwards commented on #86
Is this still an issue...can this be closed?

[2016-12-22 17:52] shaun-edwards commented on #68
Is this still an issue?  Can this be closed?

[2016-12-29 17:02] mathias-luedtke commented on #81
I agree with @carlosjoserg, using `${soem_INCLUDE_DIRS}` should be correct.
`${soem_INCLUDE_DIRS}/soem` appends a string to a list(?).

[2016-12-29 17:10] gavanderhoorn commented on #81
Nice catch. This would probably completely resolve the build issues in #88 (and make ros-industrial/industrial_ci#87 a non-issue).

[2016-12-29 17:11] gavanderhoorn commented on #81
@shaun-edwards: I think this is something that would need to be fixed in any case, and it would also solve our other issue.

[2016-12-30 17:32] shaun-edwards commented on #81
@ipa-mdl, @gavanderhoorn, thanks for the bump.  I will work on this today.

[2016-12-30 21:15] shaun-edwards commented on #81
I made the changes described in this issue, and while they built just fine on my system, [all](https://travis-ci.org/ros-industrial/robotiq/builds/187744093) travis jobs failed.

To summarize:
- Previous version: 726cab91f38406906197af9f4bd25b1146837ec4 - CMake hacks with directory prefix on includes
    - `catkin_make` (all source) - fails (can't  find includes)
    - `catkin_make` (soem install

[2016-12-30 21:27] shaun-edwards commented on #81
I just noticed the specific include that causes the build to fail is different based on the type of build.  Sometimes the build fails on an soem include from the robotiq header and other times it fails on a soem include from an internal (soem) header.

[2016-12-31 00:29] mathias-luedtke commented on #81
@shaun-edwards: have you tried `find_package(soem REQUIRED)` instead of the soem component?
I am not sure if `${soem_INCLUDE_DIRS}` is set by catkin or via https://github.com/smits/soem/blob/master/soem-config.cmake.in
It would be interesting to see the content of `${soem_INCLUDE_DIRS}` and `${catkin_INCLUDE_DIRS}` for some of the different cases.

[2017-01-01 09:01] SimonBirrell opened #89 "Kinetic Release?"
Is there an estimated date for a Kinetic release?

Thanks!

Simon

[2017-01-02 16:36] shaun-edwards commented on #89
Robotiq is not released as a debian, so there isn't an "official" release.  However, we can't even build the software from source, see #81.  Individuals can overcome these issues, but we'd like to get to solution that works without user modification.

[2017-01-04 10:27] NikolasE opened #90 "English comments"
The comments are in english and french and I think they should be a) in a single language and b) in english.

[2017-01-04 11:46] NikolasE opened #92 "Strings as commands for FT300"
The current way to send commands to the FT300 is via strings in a service. To zero the sensor, one has to send a "SET ZRO" (Not to be confused with "SET ZERO"). This leads also to parsing code like

`	strncpy(get_or_set, &buff[0], 3);
	strncpy(nom_var, &buff[4], strlen(buff) -3);`

What do you think about a srv format like this:

[code]

This leads to much cleaner code on both sides and the client

[2017-01-05 01:59] shaun-edwards commented on #90
@NikolasE, I took a quick look and couldn't find any French comments.  Can you provide a link?

Do you have a particular concern?  The original developer spoke French, so I assume that is why they are in there.

[2017-01-05 02:12] shaun-edwards commented on #92
@NikolasE, thanks for the suggestion.  I think this would indeed be an improvement.  With this kind of change, we have to be careful to think about backward compatibility.  We wouldn't want to break any code that is currently working with the string based service.  I believe there are few options:

- Support both the new and old services, simultaneously (2 service servers with different names).  A

[2017-01-05 07:23] NikolasE commented on #90
https://github.com/ros-industrial/robotiq/blob/jade-devel/robotiq_force_torque_sensor/src/rq_sensor_com.cpp#L440

"Do you have a particular concern?" It's just inconsistent and if the author thought that a comment was needed, then as many users as possible should be able to understand it.

[2017-01-05 07:40] NikolasE commented on #92
The second option looks ok. What do you think about a ROS_WARN if the command-string is not empty?
[code]

[2017-01-05 19:56] shaun-edwards commented on #90
From your original post, I thought there were the same comments in two different languages.  This would certainly be impossible to maintain for non-speakers.  I think converting french only comments to english is reasonable.  I normally wouldn't suggest we override the original author's intent, but since most comments are in english, I expect this was just an oversight.

This could be done as need

[2017-01-10 21:43] piraka9011 commented on #68
I'm not sure if this is the same error but it does involve `soem`

[code]

[2017-01-13 14:02] ancorasir opened #94 "launch folder/file missing for robotiq_s_model_visualization in indigo-devel"
trying to roslaunch the 3 finger gripper in indigo-devel in the "robotiq_s_model_articulated_gazebo" folder and then it calls for a missing launch file "robotiq_gripper_upload.launch" in the "robotiq_s_model_visualization" folder.

tried to copy the one in the "groovy-devel" branch, which doesn't work for indigo-devel

can anyone help?

`while processing /home/as/ros_industrial_ws/src/robotiq/robo

[2017-01-13 14:15] shaun-edwards commented on #94
It's odd that the file went missing. Do you know why the groovy version doesn't work?

[2017-01-13 14:27] ancorasir commented on #94
sorry, first time running ros with robotiq 3 finger, do you know how to resolve this issue? thanks a lot

[2017-01-13 15:04] ancorasir commented on #94
tried to trace the spcific folder commit back to a year ago and more, and this file seems to be missing for a long time...

as for the goovy version of the "robotiq_gripper_upload.launch", tried and the following message showed up
`while processing /home/as/ros_industrial_ws/src/robotiq/robotiq_s_model_visualization/launch/robotiq_gripper_upload.launch:
Invalid roslaunch XML syntax: not well-forme

[2017-01-13 15:07] gavanderhoorn commented on #94
@gameofsong:

`    <meta name="request-id" content="AF20923B:2DAC3:1333F407:5878D48E" data-pjax-transient>`

how did you download / install the files? That is not typical contents of a launch file.

[2017-01-13 15:16] ancorasir commented on #94
@gavanderhoorn
just copied from the folder in the groovy version to the indigo version and roslaunch ...

from the message it seems it was only asking for the "robotiq_gripper_upload.launch" file in the "robotiq_s_model_visualization" folder ...

and the one in the groovy version is the only one i can find

the code in "line 45, column 90" was directly copied from the "robotiq_gripper_upload.launc

[2017-01-13 15:22] gavanderhoorn commented on #94
But how did you get a copy of the files in the first place? Did you use `git clone ..`, did you use `apt-get` or some other way?

If I look at the `groovy-devel` version of `launch/robotiq_gripper_upload.launch` ([here](https://github.com/ros-industrial/robotiq/blob/groovy-devel/robotiq_s_model_visualization/launch/robotiq_gripper_upload.launch)), I see:

[code]

[2017-01-13 15:26] ancorasir commented on #94
@gavanderhoorn

just copied from the groovy-devel's repository and paste into my local folder

[2017-01-13 15:28] gavanderhoorn commented on #94
which repository? Could you please be specific? A URL, a directory path?

Also: which exact steps did you take to get a copy of the "groovy-devel's" repository?

---

This does not directly address your original issue, but I'm pretty sure the launch file you have there is not as it should be, and I'm trying to figure out what caused this.

[2017-01-13 15:31] ancorasir commented on #94
@gavanderhoorn

this very repository, under groovy branch, same folder

https://github.com/ros-industrial/robotiq/blob/groovy-devel/robotiq_s_model_visualization/launch/robotiq_gripper_upload.launch

[2017-01-13 15:33] gavanderhoorn commented on #94
And you opened [groovy-devel/robotiq_s_model_visualization/launch](https://github.com/ros-industrial/robotiq/tree/groovy-devel/robotiq_s_model_visualization/launch), then right-clicked on `robotiq_gripper_upload.launch` and then *Save Link As..*, correct?

If so, you saved an HTML page, not the content of the launch file. For that, please use the [raw link](https://github.com/ros-industrial/roboti

[2017-01-13 15:34] ancorasir commented on #94
my bad, seems like I saved the html instead of the actual code ... my bad

will try again and update

[2017-01-13 15:40] gavanderhoorn commented on #94
The original issue of the file missing after `groovy-devel` still remains though.

[2017-01-13 15:49] gavanderhoorn commented on #94
That particular launch file was removed in 5d3be12280db37b87d6d28622121fb6528701d55 by @TheDash, as part of a clean-up of the packages in this repository.

It's curious, as the file is still referenced in at least [robotiq_s_model_articulated_gazebo/launch/robotiq_gripper_empty_world.launch](https://github.com/ros-industrial/robotiq/blob/cc6e7949750732a30348d3dd2a0c350605eb9df9/robotiq_s_model_art

[2017-01-13 15:51] ancorasir commented on #94
the code in the groovy version refers to a missing/replaced file of "robotiq_hand.urdf.xacro"

and in the indigo-devel, seems to have quite a few files to be choose from, and only the "s-model_articulated.xacro" (partial) works.

by partially I mean, seems like there's some problem with the base reference or what, but the gripper is just freely laying on the floor ... not sure if this is intension

[2017-01-14 05:06] shaun-edwards commented on #94
I should be able to get to this next week. Sorry it's not right. Thanks for reporting.

[2017-01-16 03:32] shaun-edwards commented on #92
Addressed in #93

[2017-01-16 03:32] #92 closed, assigned to nobody

[2017-01-16 03:40] shaun-edwards commented on #81
I'm going to take a look at this again later in the week.  However, given the lack of release for later versions for ROS, we might consider switching to a more actively maintained version [here](https://github.com/OpenEtherCATsociety/SOEM).

[2017-01-16 04:03] shaun-edwards commented on #86
Closing this issue...if this is still an issue, please feel free to comment with more information and we will reopen it.

[2017-01-16 04:03] #86 closed, assigned to nobody

[2017-01-16 06:43] shaun-edwards commented on #68
Closing this issue...if this is still an issue, please feel free to comment with more information and we will reopen it.

[2017-01-16 06:43] #68 closed, assigned to nobody

[2017-01-19 15:07] ancorasir commented on #80
not sure if it helps but I'm working on a PR including a robotiq 3 finger gripper and a ur5 arm for simulation [ancorasir_urobotiq](https://github.com/ancorasir/ancorasir_urobotiq).

currently experiencing problems with rostopic /left_hand/command and state to send command to the gripper, any suggestions to resolve this issue?

like @TheDash mentioned, the osrf/drcsim is really complicated to "hac

[2017-01-19 15:08] gavanderhoorn commented on #80
@ancorasir wrote:

Well, what are the "problems"?

[2017-01-19 15:12] ancorasir commented on #80
@gavanderhoorn
sorry but I'm not exactly sure, can make the gazebo simulation work just like the drcsim's robotiq tutorial, but somehow the left_hand/command and left_hand/state topics are not showing up, can't control the gripper.

any idea where to look for the solution? thanks

[2017-01-19 15:36] UltronDestroyer commented on #80
You've gotta get the atlas gazebo plugins and port them over to get the gazebo topics working in sim

[2017-01-19 15:37] UltronDestroyer commented on #80
@wxmerkt Heads up we are planning another development cycle in approx 1 months time relating to this where I will fix all of this up and re-org our robots setup

[2017-01-19 15:44] ancorasir commented on #80
@TheDash

could you please explain a little bit more on the following line? new to ROS, sorry about that

do you mean "apt-get install" drcsim in ROS or put the drcsim package in the same workspace?

[2017-01-19 15:54] UltronDestroyer commented on #80
Sorry, trying to do this with little instruction as possible here.

https://bitbucket.org/osrf/drcsim/src/194be8500fef/drcsim_gazebo_ros_plugins/?at=default

In short, you want to make sure you have this: (RobotiqHandPlugin)

https://bitbucket.org/osrf/drcsim/src/194be8500fef81593f79607a21ee2badd9700a0e/drcsim_gazebo_ros_plugins/include/drcsim_gazebo_ros_plugins/RobotiqHandPlugin.h?at=default&file

[2017-01-19 15:55] UltronDestroyer commented on #80
@ancorasir

In the indigo-devel branch see the robotiq gazebo articulated plugins package, i ported it over to there. That should work if it's in your catkin ws and you are loading the gazebo plugin in your urdf

[2017-01-26 21:50] shaun-edwards commented on #94
@ancorasir, I've taken a look at the gazebo sim (once I applied your fix).  The gripper lies on the floor because the URDF doesn't have a fixed link to the `world`, as described [here](http://gazebosim.org/tutorials/?tut=ros_urdf#RigidlyFixingAModeltotheWorld).  Honestly, I'm not sure what the value of a gazebo sim is with just a single (un-attached) gripper.  Perhaps the package is just meant to

[2017-01-27 01:31] ancorasir commented on #94
@shaun-edwards , thank you very much for the clarification. I can fully understand if this package was originally meant for gazebo testing purpose (just a way of showing that gazebo CAN simulate robotiq gripper). Current robotiq software are mainly for industrial application, but not on robot simulation.

I thought such a powerful underactuated gripper should have been well developed for ROS/Gazeb

[2017-02-06 14:46] Kukanani commented on #81
Lack of Robotiq support is a major reason our lab has not moved to ROS Kinetic.

I forked the SOEM repository Shaun mentioned and catkinized it (fairly straightforward). The robotiq package now builds with no issues, but I haven't run any tests yet. We've made a `kinetic-devel` branch on our [fork](https://github.com/UTNuclearRoboticsPublic/robotiq/tree/kinetic-devel) of this repo.

[2017-02-16 12:09] rarrais commented on #81
Hi @Kukanani ,

I'm trying to compile your fork on Ubuntu 16.04 using Kinetic and I'm having a little trouble. Which SOEM repository are you using? Can you share the catkinized version?

Thank you!

[2017-02-16 14:35] carlosjoserg commented on #81
Hi @rarrais , I have been compiling in 16.04/Kinetic succesfully using the change in the `CMakeLists.txt` I proposed above using https://github.com/smits/soemst the latest, which you can find here https://github.com/beta-robots/robotiq/commit/a1275867de877569e9a737cc2c072ba80b68c32d , though I haven't tried the SOEM interface yet, I don't think the change would be an issue in functionality (I have

[2017-02-16 14:48] Kukanani commented on #81
I have a 404 error attempting to access https://github.com/smits/soemst.

As I mentioned above, I catkinized the SOEM library at https://github.com/OpenEtherCATsociety/SOEM. I'll try to port into a public repo today.

I had to change the package name to lowercase, and adjusted the include directories of the robotiq package to match the new catkin package.

[2017-02-16 14:52] carlosjoserg commented on #81
Sorry, that's a typo, without the st: https://github.com/smits/soem

[2017-02-16 16:49] Kukanani commented on #81
Ah, thanks.

Here's our (now public) fork of OpenEtherCATsociety/SOEM: https://github.com/UTNuclearRoboticsPublic/soem. The commit with most of the catkinization is at https://github.com/UTNuclearRoboticsPublic/SOEM/commit/d3b67bd1dd0bf45ed3dc79c19ba7b4fdea949f7f. A Kinetic version of this (robotiq) repo is at https://github.com/UTNuclearRoboticsPublic/robotiq/tree/kinetic-devel, with the one extr

[2017-03-30 20:47] Kukanani commented on #81
I wanted to report that we've been using our catkinized version of OpenEtherCATsociety/SOEM on Robotiq S-Model hardware, with no issues so far. This may affect #101.

[2017-07-12 04:08] ghost opened #103 "FT300, socketcan_interface missing"
Hey,

I have a robotiq Ft300 on ubuntu 14.04 with ROS indigo. I run into problems cmake the work space. I wonder if you could help me with it.

I tried to use `rosdep install robotiq_modbus_tcp` and it doesn't work and it says
`ERROR: Rosdep cannot find all required resources to answer your query
Missing resource robotiq_modbus_tcp
ROS path [0]=/opt/ros/indigo/share/ros
ROS path [1]=/home/drpslab/

[2017-07-12 04:17] ghost commented on #103
If anyone runs into this problem, try this:
`rosdep install --from-paths ~/robotiq/src --ignore-src
`
~/robotiq is my workspace

[2017-07-12 04:17] #103 closed, assigned to nobody

[2017-08-24 15:39] ghost opened #106 "lose calibration each time the robot starts"
Hey all,

I have a robotiq FT300 and I'm using Ubuntu 14.04 with ROS Indigo. I used the calibration procedure in the manual, load the program in polyscope and calibrate the sensor. After the calibration, everything works fine. But whenever I restart my computer or the robot, I would lose this calibration. Fz can be 10 or 5 or 3(drift) even when there is no force input.

I powered the FT300 from th

[2017-08-24 16:04] shaun-edwards commented on #106
@nicolaslauzier

[2017-08-25 02:08] nicolaslauzier commented on #106
Hi,

@Thompson104 Please contact Robotiq support at support@robotiq.com for help with our products.

Best regards,

[2017-08-25 02:11] ghost commented on #106
@shaun-edwards @nicolaslauzier
Thank you for your attention. I just sent the email and hopefully we can get this solved. My defense is only 1 month from now lol.

[2017-09-13 13:59] jacknlliu commented on #89
I look forward to meeting the kinetic version.

[2017-09-21 18:49] ibaranov-cp opened #107 "Force Torque connection method is not great"
Hello,

The behaviour for connection to the force torque is fairly bad practice.
https://github.com/ros-industrial/robotiq/blob/jade-devel/robotiq_force_torque_sensor/src/rq_sensor_com.cpp#L155

This causes any other USB devices to get killed off, as this driver steals focus, crashing other software (including, for example, our Husky)

2 options:
1) Make a parameter on launch for the proper addres

[2017-09-21 19:57] ibaranov-cp commented on #107
For reference, here's a slightly more reasonable approach, with a launch file, fixed model for FT_300 model, etc:

https://github.com/ibaranov-cp/husky_UR_accessories/tree/master/robotiq_force_torque_sensor

[2017-09-24 18:50] shenlirobot opened #108 "robotiq_s_model_articulated_msgs vs robotiq_s_model_control.msgs"
What are the differences between robotiq_s_model_articulated_msgs vs robotiq_s_model_control.msgs?
Is the **articulated** one a different gripper hardware from the regular one?

I am trying to simulate the gripper in Gazebo by sending robotiq_s_model_articulated_msgs to /SMRobotOutput. However, when dealing with the real robot, I have to send robotiq_s_model_control.msgs to /SMRobotOutput. Is ther

[2017-09-25 20:39] shaun-edwards commented on #107
Thanks for reporting.  I can't say I've seen a perfect way of handling USB devices.  The "kinect" cameras allow you to specify the bus# (helpful if only one device is plugged into a bus) or the bus+device# (less helpful because the device# increments every time something is plugged in).  Other devices allow you to specify a "unique number" (i.e. serial number) and then the USB devices are searched

[2017-09-25 20:41] shaun-edwards commented on #108
@Shentheman, thanks for asking.  Documentation is certainly lacking.  Unfortunately, I'm not familiar with using Robotiq with Gazebo, so I can't answer your question.  Hopefully another user will be able to answer this.

[2017-09-25 21:05] ibaranov-cp commented on #107
Hey, see my reply above, it has a udev rule baked in that will recognized every time, and already fixed launch files for you.

[2017-09-25 22:35] shaun-edwards commented on #107
Does your fix above work if multiple sensors are plugged in?

[2017-09-25 23:02] ibaranov-cp commented on #107
Sure, each ftdi RS485 adaptor has its own unique ID, Infact we use them
exactly this way.

On Sep 25, 2017 6:35 PM, "Shaun Edwards" <notifications@github.com> wrote:

[2017-09-28 07:46] SammyRamone commented on #107
Hello,
I can verify that this problem exists. In #109 I solved this by providing a launch parameter (your option 1).
It was very easy to implement but it could happen that the names of two devices switch (e.g. ttyUSB0 and ttyUSB1) since Linux just numbers them in the order in which they are discovered (I guess). I was using rfcomm (which adds a device based on a given Bluetooth adress) and therefo

[2017-10-11 12:41] philwall3 opened #111 "2-Finger Adaptive Robot Gripper 85 model"
Hi,

is there a model of the 2-Finger Adaptive Robot Gripper 85 available? I have only found the 140 model so far (robotiq_arg2f_model_visualization).

[2017-10-25 19:12] aravindsiv opened #112 "Control of a 3-finger adaptive gripper using Ethernet/IP protocol"
I have a Robotiq 3-finger gripper configured with the Ethernet/IP protocol. I understand that in order to make use of this meta-package, [the Modbus TCP/IP protocol needs to be configured](http://wiki.ros.org/robotiq/Tutorials/Control%20of%20an%20S-Model%20Gripper%20using%20the%20Modbus%20TCP%20Protocol).

Is there any way I can make use of this meta-package using the Ethernet/IP protocol, or is t

[2017-10-25 19:58] EtSamson commented on #112
@aravindsiv if you want to reconfigure your Gripper to Modbus TCP/IP contact the tech support at Robotiq and they can help you (will need to re-flash the Gripper). Email support@robotiq.com

[2017-10-27 23:51] aravindsiv commented on #112
Thanks @EtSamson . I contacted Robotiq, and they were able to help me out. If anybody else needs this functionality, feel free to ping me directly.

[2017-10-27 23:51] #112 closed, assigned to nobody

[2017-11-02 15:07] wuguangbin1230 commented on #45
＠james2254 How did you solve the problems mentioned above?
I also could not the robotiq gripper by USB

[2017-11-02 15:08] wuguangbin1230 commented on #45
@james2254 How did you solve the problems mentioned above?
I also could not the robotiq gripper by USB

[2017-11-02 22:40] rkeatin3 opened #113 "Simultaneously using two FT-150s"
I'm trying to use two FT-150s from one computer, but there are problems with the code that currently prevent me from doing so:

1. There isn't a way to specify which device the node should connect to. It looks like code linked to within [Issue 107](https://github.com/ros-industrial/robotiq/issues/107) solves that problem

2. All of the functions and variables seem to be static... Has this been add

[2017-11-03 00:43] shaun-edwards commented on #113
If you could verify the fix, I'm happy to merge it.  I don't have access to hardware, let alone multiple, so it's impossible for me to test

No...is it causing a problem?

[2017-11-03 18:22] rkeatin3 commented on #113
I have verified that the code linked to in issue 107 does properly initialize the node with the device handle loaded into the param server. Perhaps the point made [here](https://github.com/ros-industrial/robotiq/issues/107#issuecomment-332756114) is a good one though: this change is breaking in that it will force users to specify the device.

It looks like I have to eat crow on my second point, ho

[2017-11-05 02:27] shaun-edwards commented on #113
@rkeatin3, can you think of a work around for the single device?  Is there a way to make it backwards compatible?

[2017-11-05 21:20] rkeatin3 commented on #113
Though I haven't tried, I imagine falling back to the default behavior if the rosparam hasn't been populated should work. The author of the fix certainly found that behavior contemptible, but I'm not sure what other options there are if the user isn't expected to know the path to the device file.

I can implement and test falling back to that behavior tomorrow if that's the desired fix.

[2017-11-06 20:54] rkeatin3 commented on #113
It worked as expected. Should I create a pull request?

[2017-11-14 08:46] sfocke opened #115 "Missing ${prefix} in robotiq_arg2f_140_model_macro.xacro"
Hello there

I believe a ${prefix} is missing in line 180 of the file robotiq/robotiq_arg2f_model_visualization/urdf/robotiq_arg2f_140_model_macro.xacro.

`<mimic joint="${prefix}finger_joint" multiplier="-1" offset="0" />`

Correct me if I am wrong ;)

[2017-11-14 08:48] gavanderhoorn commented on #115
Seems you're correct.

If you would submit a PR we can merge that.

[2017-11-14 08:49] gavanderhoorn commented on #115
Suggestion for future issues/comments: always try to include a link to the file + line, at the revision you found the issue in. That makes it much easier to report these kind of things, and much easier for us to find what you are referring to.

[2017-11-14 08:50] gavanderhoorn commented on #115
And it would seem line 174 is also missing the prefix:

https://github.com/ros-industrial/robotiq/blob/8d13a8b4545fb472420f370bd794fec79e4977b6/robotiq_arg2f_model_visualization/urdf/robotiq_arg2f_140_model_macro.xacro#L174

[2017-11-14 13:20] angadhn opened #116 "osal.h: No such file or directory"
System config: 16.04/Kinetic

I am trying to install the robotiq package from source by cloning the kinetic-devel repository (available here:https://github.com/jhu-lcsr/robotiq) in my `catkin_ws/src` and then running `catkin_make`. However, I get the following message: `fatal error: osal.h: No such file or directory` as well as `Invoking "make -j2 -l2" failed`. I'd appreciate any help that I can g

[2017-11-14 14:35] angadhn commented on #116
`$ ls /opt/ros/kinetic/include/soem -l` gives the following so I am not sure why osal.h is not found.
[code]

[2017-11-14 14:55] angadhn commented on #116
I dug around a bit and made two changes which at least seems to have helped me resolve the problem though I have to play around with it some more. Here are the changes:
1. In '/opt/ros/kinetic/include/soem/ethercattype.h`, I changed `#include <osal.h>` to `#include </opt/ros/kinetic/include/soem/osal.h>`
2. In teh robotiq package that I got from the git repo in the first comment, I made the follow

[2017-11-14 14:58] angadhn commented on #116
@shaun-edwards requesting some feedback because I see that you had encountered something like this on indigo based on https://github.com/smits/soem/issues/4

[2017-11-14 15:07] shaun-edwards commented on #116
I believe #81 addresses this in some detail.  If I remember correctly (it's been a while), I could not figure out how to get a pure source build (robotiq + soem) and a mixed build (robotiq + debian soem) to work.

[2017-11-14 15:34] angadhn commented on #116
thanks @shaun-edwards. I am looking into it. Do you have any experience working with the robotiq repo from the jhu-lcsr group and is that what you are using with kinetic? Also, any idea if there will be a kinetic branch at some point from ROS-I?

[2017-11-14 15:45] shaun-edwards commented on #116
I don't have any experience with the jhu-lcsr group.  It looks like they have a fork of the ROS-I repo with some extra commits.  I can create the kinetic branch, but I don't have a kinetic system to test.  Do you know if the jade_devel branch works under kinetic?

[2017-11-14 15:47] angadhn commented on #116
I am not sure I follow the bit about getting the source and mixed builds to work as I am still wet behind the years with ROS. However, I believe I have the debain soem based on robotiq's instructions to use apt-get and not the git repo of soem. In your experience, will the debain soem with jhu-lcsr robotiq be sufficient to get the gripper working via ROS?

[2017-11-14 16:06] shaun-edwards commented on #116
The source vs. debian building issue is caused by the location of header files.  It might be ROS build related, but the solution might be CMake trickery.

I'm not familar with the jhu-lcsr so I can't say how well that will work.

[2017-11-14 16:11] angadhn commented on #116
Here is a snippet of the error that I get when I run catkin_make with the jade_devel clone in my catkin workspace. Not sure where to head with that.

[code]

[2017-11-14 16:16] shaun-edwards commented on #116
It looks like a missing dependency, http://wiki.ros.org/socketcan_interface

Have you installed all the dependencies? Manually? or with rosdep: http://wiki.ros.org/rosdep#Install_dependency_of_all_packages_in_the_workspace

[2017-11-14 16:44] angadhn commented on #116
That fixed the dependency issue but still having some compiler issues as shown below:
[code]
This is followed by several more `error` and `note` messages.

[2017-11-15 13:11] angadhn commented on #116
I was able to resolve this compiler issue by adding the following lines to [robotiq/robotiq_s_model_articulated_gazebo_plugins/CMakeLists.txt](https://github.com/ros-industrial/robotiq/blob/jade-devel/robotiq_s_model_articulated_gazebo_plugins/CMakeLists.txt):
[code]

Also, I had another separate issue which was resolved by changing 'const' to 'constexpr' at lines [176](https://github.com/ros-indu

[2017-11-15 18:24] shaun-edwards commented on #115
Fixed in MR #117

[2017-11-15 19:03] #115 closed, assigned to nobody

[2017-11-20 12:24] angadhn commented on #116
@shaun-edwards fyi, I have added a kinetic-devel branch to[ my fork](https://github.com/angadhn/robotiq/tree/kinetic-devel) of the ROS-I robotiq repo and I have tested it on the gripper. I think people may also be interested in knowing that the Robotiq Wrist Camera is detected on Ubuntu, which I think is a good sign that it can be easily used via ROS for visual servoing. I'm looking more into that

[2017-11-21 12:09] #116 closed, assigned to nobody

[2017-11-21 12:14] angadhn opened #118 "Working fix: enables simultaneous operation of cam and gripper"
Just wanted to offer a working fix (so far) for anyone with a similar issue/setup consisting of an arm with a robotiq wrist cam and gripper running kinetic/16.04 Ubuntu. I was having some issues where the gripper driver kept crashing while having the wrist camera stream running which was resolved by adding a couple lines as shown [here](https://github.com/angadhn/robotiq/commit/6b7508735909b91ce0b

[2017-12-01 12:23] wxmerkt commented on #108
The messages have the same content and thus the same md5 hash. You should be able to use them interchangeably.
I definitely agree that this collection of packages requites some TLC and happy to put some time in if we can then move it towards being released on the build farm/as debians - e.g. unify the S-Model messages for control and articulated as ``robotiq_s_model_msgs`` and release them (they a

[2017-12-01 17:35] shaun-edwards commented on #108
@wxmerkt, thanks for helping answer.  I totally agree with the improvements that you suggest.  The lack of progress is due to a lack of time on my part.  I'm happy to accept PRs submitted by the community.

[2017-12-12 23:02] rkeatin3 commented on #113
This issue has been resolved with [Pull Request 114](https://github.com/ros-industrial/robotiq/pull/114).

[2017-12-12 23:02] #113 closed, assigned to nobody

[2017-12-15 14:40] philwall3 opened #120 "ros_control implementation"
Hi,
does anyone already have ros_control implemented for their real robotiq Gripper. I'm trying to do this now and I'm a bit lost on how to do it.

Thanks!

[2018-01-10 04:53] newuhe commented on #45
@carlosjoserg I followed your instructions mentioned above, but I still receives
`Unable to connect to /dev/ttyUSB0`
though I can get `Bus 001 Device 024: ID 0403:6015 Future Technology Devices International, Ltd Bridge(I2C/SPI/UART/FIFO)
`

[2018-01-10 04:55] newuhe opened #121 "Unable to connect to /dev/ttyUSB0"
I used `dmesg | grep tty` to check whether gripper is connected to my ubuntu pc and get
`[75163.432028] usb 1-3: FTDI USB Serial Device converter now attached to ttyUSB0`

however when I use `rosrun robotiq_c_model_control CModelRtuNode.py /dev/ttyUSB0` I still reeives

[code]

[2018-01-10 17:33] carlosjoserg commented on #45
@newuhe

* Check that the gripper connected to the port that you use when calling
`rosrun robotiq_c_model_control CModelRtuNode.py /dev/ttyUSB0`

* I have tested with the 2F-85mm, but I've also receive positive feedback with the 2F-140mm, both _new models_. Don't know about the old molde, and I don't think it'd work with the 3-fingers model.

[2018-01-11 12:01] newuhe commented on #121
I used this instruction `sudo chmod 777 /dev/ttyUSB0` and retry, my gripper is connected but throws
`AttributeError: 'NoneType' object has no attribute 'getRegister'`
and LED of the gripper is still red, which is blue when connected to my ur5 controller.
I checked it and found the issue happened in this line
`response = self.client.read_holding_registers(0x07D0, numRegs, unit=0x0009)`
response get

[2018-01-31 01:43] mch5048 commented on #121
@newuhe I have a same error with you. Did you solve it?

[2018-02-11 21:34] #106 closed, assigned to nobody

[2018-02-19 09:07] philwall3 commented on #121
I had a similar problem when another launch-file was running which was accessing the USB-port. Try closing all other launch-files. Then start a fresh roscore and then `rosrun robotiq_c_model_control CModelRtuNode.py /dev/ttyUSB0`

[2018-03-01 15:52] angadhn commented on #121
@newuhe I had similar issues when trying to activate the wristcam+gripper simultaneously; I was able to resolve it by throwing a small fix discussed [here](https://github.com/ros-industrial/robotiq/issues/118). It is likely not an elegant fix but just something that I was able to do to move on with using the gripper.

[2018-03-09 10:30] mat-l commented on #89
Any updates or progress about the kinetic version yet?

[2018-03-19 17:10] yamunamaccarana opened #123 "CMake Error while making robotiq_s_model_control because of socketcan_interface"
I have ros kinetic installed on Ubuntu 16.04.3 LTS.
I installed:
$ easy_install -U pymodbus
and:
$ git clone https://github.com/ros-industrial/robotiq.git
in my catkin_ws/src.
However, when I catkin_make, I get the error down below*.
I also tried to:
$ git clone https://github.com/ros-industrial/ros_canopen.git
and catkin_make, but this bring me to other errors with variables set to NOTFOUND and i

[2018-03-19 19:25] mathias-luedtke commented on #123
This is a [cross post](https://github.com/ros-industrial/ros_canopen/issues/271).
I was not able to reproduce this error.

[2018-03-19 19:41] jproberge commented on #123
Hello @yamunamaccarana,

This is indeed a cross post. Also, the errors mentioned in your post originate from the socketcan_interface package rather than the robotiq package. I understand that you've tried to install socketcan_interface in an attempt to fix the issues you were having during the compilation of the robotiq packages (if I'm not mistaken).

However, could you please first specify/repro

[2018-03-20 06:22] newuhe commented on #45
I've sloved the problem, which arise from my socket version.

[2018-03-20 09:10] yamunamaccarana commented on #123
Thankyou,

The error "CMake Error at /home/yami/catkin_ws/devel/share/socketcan_interface/cmake/socketcan_interfaceConfig.cmake:113 " that I posted at first happened before my attempt to install ros_canopen, while I was trying to compile the robotiq package only.

I will post the error after installing ros_canopen [here](https://github.com/ros-industrial/ros_canopen/issues/271)

[2018-03-20 13:36] yamunamaccarana commented on #123
ipa-mdl solved this [here](https://github.com/ros-industrial/ros_canopen/issues/271)

thanks

[2018-03-20 13:36] #123 closed, assigned to nobody

[2018-03-20 14:38] yamunamaccarana commented on #121
I have the same problems as newuhe.
I tried angadhn solution but now the execution of <code>robotiq_c_model_control CModelRtuNode.py</code> stops at the while cycle and the LED of the USBtoRS485 adapter stays red and never gets blue.

Any solutions?

Sometimes I get this message, while <code>robotiq_c_model_control CModelRtuNode.py</code> is running:
[WARN] [1521556997.058250]: Inbound TCP/IP conn

[2018-03-20 15:03] yamunamaccarana commented on #45
@newuhe I think I have exactly the same problems that you had. How did you manage to solve them?
Thanks

[2018-03-21 02:01] newuhe commented on #121
I've solved the problem, it seems that it is because the socket package I used is different from the ros package [ros_canopen ](http://wiki.ros.org/ros_canopen)recommended by robotiq. Hope it will help you all.

[2018-03-21 02:02] #121 closed, assigned to nobody

[2018-03-21 08:59] yamunamaccarana commented on #121
@newuhe  can you please specify which package you used?

[2018-03-21 09:02] yamunamaccarana commented on #45
@newuhe [here](https://github.com/ros-industrial/robotiq/issues/121) you say that you found other useful packages. Can you please specify which package you used?

[2018-03-27 13:23] jokermay opened #124 "why is the frenquency 62.5Hz？Itn't be 100hz？"
I run the 'robotiq_force_torque_sensor/nodes/rq_sensor.cpp' node, and found that the frequency of the published topic '/robotiq_force_torque_sensor' is about 62.5hz, which is lower than the specified value 100hz. I do not know why. Anyone knows the reason?

The following is the results of the commond 'rostopic hz /robotiq_force_torque_sensor'.

average rate: 62.459
	min: 0.002s max: 0.032s std dev

[2018-04-14 03:35] xs-alt opened #125 "More than 80% of the sampled goal states fail to satisfy the constraints imposed on the goal sampler. Is the constrained sampler working correctly?"
Hi all, l am just working on the robotiq-140 gripper with UR10 robot arm under ROS Kinectic.
![joint](https://user-images.githubusercontent.com/24916161/38763848-dbf970be-3fd6-11e8-9fd7-51c12a900ddc.png)
l use moveit_setup_assistant to config the package. And run the demo.launch, l would like to see if l can plan the gripper in Moveit. l update the gripper to random goal state and click the plan b

[2018-04-15 22:51] jproberge commented on #124
Hi @jokermay, do you still have this problem?

Yes, the frequency should indeed be 100Hz. Can you describe your setup? How is your FT sensor physically connected? Any errors in the terminal when you launch the node?

[2018-04-15 22:54] jproberge commented on #118
Thanks, this is indeed a simple and working patch that could be useful for some users!

[2018-04-15 22:54] #118 closed, assigned to nobody

[2018-04-15 22:57] jproberge commented on #120
Hello @philwall3

I'm aware your message was written months ago, but in the meantime, Robotiq's maintainer of their ros packages has changed. So, do you still have any problem using a Robotiq gripper with ros?

[2018-04-16 11:39] angadhn commented on #118
@jproberge glad you found it useful.

I have another fix that someone might find useful for an alternate setup where the above fix didn't work.
I have a laptop which I use for all the algorithmic development in moveit, etc. The robot is hooked up to a separate PC  which is accessible over ssh (Since we share the robot in our lab, it keeps things nice and modular for people to test their work). For

[2018-04-16 12:14] angadhn commented on #118
psuhed another bit of the fix that I'd forgotten to do a while back. https://github.com/angadhn/starboy_hardware_ws/commit/7d4fdf5007b1962f1b20118bd314afacfda2c4e9

[2018-04-16 12:26] xs-alt commented on #125
Actually, l try a lot of methods to solve this problem.
First, about the Constraint violated: l change the plan group(gripper) to only contain the finger joint, then l could plan the gripper in Moveit Rviz.
Second l was told that the plan cannot simply be executed because of lacking controllers. See [here ](https://github.com/beta-robots/robotiq/issues/7)

[2018-04-16 12:26] #125 closed, assigned to nobody

[2018-04-16 12:51] philwall3 commented on #120
Hi @jproberge
I've managed to use the ros_control implementation from Carlos J. Rosales (https://github.com/beta-robots/robotiq).
This is my project: https://github.com/philwall3/UR5-with-Robotiq-Gripper-and-Kinect

[2018-04-17 15:21] Danfoa commented on #120
Hello @philwall3, thank you very much for the link to your project, we are facing the same issue and will be working based on what you did, I have two question:

1. Actually I do not see where do you use any of the [Betha-Robotics repo](https://github.com/beta-robots/robotiq), as far as I notice you are using the [robotiq_modbus_rtu and robotiq_c_model_control](https://github.com/ros-industrial/ro

[2018-04-17 16:44] philwall3 commented on #120
1. I'm only using the ros_control implementation from Beta-Robots. It's instantiated here: https://github.com/philwall3/UR5-with-Robotiq-Gripper-and-Kinect/blob/master/myrobot2/myrobot2_driver/launch/myrobot2_bringup_ros_control.launch#L45

2. Since the ros_control implementation is done by @carlosjoserg and I'm just using it, I can't really help with that. Sorry.

[2018-04-29 19:37] wxmerkt commented on #108
On another note, I just noticed that the folks at Clearpath noticed that a field in the SModelOutput was missing and added it (incompatible with this repository/upstream):

https://github.com/DualUR5Husky/robotiq/commit/73e5219cfab7d9d19f3c1a6b76548c1288ff9b76

[2018-05-15 09:07] felixvd commented on #72
#98

[2018-05-15 09:09] felixvd commented on #81
@Kukanani Could you elaborate how you compiled on kinetic? I haven't been able to make it work.

EDIT: OK, I got it to compile by adding the soem package to the workspace instead of following its README.md.

[2018-05-15 22:29] #81 closed, assigned to nobody

[2018-06-21 08:55] davidkh1 commented on #124
I can probably explain the issue.
The reason for a 62.5 Hz may be from using a USB interface to the sensor. FTDI chip introduces a delay of up to 16 ms (1000/16=62.5Hz) when reading from a USB port. This parameter is configurable.
On my Linux machine:

16

The output rate is 100 Hz now.

[2018-07-10 21:16] #124 closed, assigned to nobody

[2018-07-12 18:40] mpowelson opened #128 "Build error in RobotiqHandPlugin.h"
I get a couple of these when trying to build the package. They all appear to be in the RobotiqHandPlugin.h file.

src/robotiq/robotiq_s_model_articulated_gazebo_plugins/include/robotiq_s_model_articulated_gazebo_plugins/RobotiqHandPlugin.h:176:47: error: ‘constexpr’ needed for in-class initialization of static data member ‘const double RobotiqHandPlugin::VelTolerance’ of non-integral type [-fpermi

[2018-07-18 01:28] #128 closed, assigned to nobody

[2018-07-19 02:54] #42 closed, assigned to nobody

[2018-07-20 22:00] #120 closed, assigned to nobody

[2018-07-27 01:05] joshua-c-triyonoputro commented on #111
We are using [this package](https://github.com/crigroup/robotiq) for the moment.

[2018-08-09 11:46] Eatapie opened #131 "roslaunch robotiq_c_model_control c_model_ethercat.launch failed"
roslaunch robotiq_c_model_control  c_model_ethercat.launch doesn't work.
Problem is there's no ros node c_model_ethercat_node detected.
I've added follwing lines in robotiq_c_model_control/CMakeLists.txt
install(TARGETS c_model_ethercat_node
      RUNTIME DESTINATION ${CATKIN_PACKAGE_BIN_DESTINATION}
)

Then I can run the node. However there is error:
[ INFO] [1533813027.491517165]: Initializing e

[2018-08-09 11:52] Eatapie commented on #131
I think I get the solution. My executable file c_model_ethercat_node is linked somewhere else, and I should do
sudo setcap cap_net_raw+ep real_adress

But still, please fix the problem that no node executable file can be generated(node c_model_ethercat_node detected).

[2018-09-27 20:59] otolithic opened #132 "FT300 never connects on ROS Kinetic/Ubuntu 16.04 using robotiq/jade-devel or kinetic-devel"
I posted this on ROS answers and was told to bring it here.

Our lab is using Kinetic on Ubuntu 16.04 and we can't connect to our FT300 sensor with this package. Using just the instructions in the FT300 manual (under the Development Package section), I was able to get sensor readings to show up in the terminal, so I do at least know my computer can make the connection. But `rosrun robotiq_force_to

[2018-09-28 15:11] otolithic commented on #132
Update: it appears the problem was one of permissions. Adding myself to the dialout was not enough to allow me to connect; I had to run `sudo chown [me] /dev/ttyUSB1`. I would close this issue except I don't know if it's one that can be fixed within the package itself or if this is an expected step in this type of connection.

I think at the very least a line should be added to the wiki page for i

[2018-09-29 07:11] gavanderhoorn commented on #132
I believe the reason this is not documented somewhere is that adding the user to the `dialout` group should be sufficient.

Perhaps @jproberge can comment on how he sets up his machines.

[2018-10-01 07:13] jproberge commented on #132
Hello @otolithic and @gavanderhoorn ,

First of all, I'm sorry for the delay, I was out of office and didn't see your post until now.

I frequently get emails from Robotiq customers with the exact same problem. Hence, this is indeed an issue many people encounter and I'll make sure to document it better in the wiki page. I'll start to significantly update the wiki page starting this week or next a

[2018-10-01 07:16] gavanderhoorn commented on #132
Thanks @jproberge.

Would it perhaps be an idea to add some `udev` rules to the repository as well?

Those could help with this issue.

[2018-10-01 18:01] jproberge commented on #132
@gavanderhoorn ,

Very good point and I totally agree with that idea! In fact, my initial answer to this issue was exactly to create proper udev rules. udev rules could fix non-persistent permissions and non-static device ID at the same time. I'll take the time to take a look at how this can be done properly within a ros package and I might indeed propose a pull request to add them. An eventual PR

[2018-10-01 18:04] #89 closed, assigned to nobody

[2018-10-19 13:39] wxmerkt opened #135 "Binary release - at least of the descriptions"
Hi all,
Thank you very much for the recent activity and updates! We are heavy users of this package on multiple platforms (2f, 3f, force torques) and often run into the same issue: We depend on the description packages for visualisation and development machines that do not require the full control stack (as robots do, or even the simulation tack) - as this is a mono-repo our users manually need to

[2018-10-25 15:02] atyshka opened #136 "Soem headers not working"
I'm attempting to use this package in melodic and therefore had to compile soem from source. I compiled with cmake and everything seemed to go well. However, when I try to build this package I get
`/home/alex/catkin_ws/src/robotiq/robotiq_ethercat/src/ethercat_manager.cpp:10:10: fatal error: soem/ethercattype.h: No such file or directory
 #include <soem/ethercattype.h>
`
So after a bit of digging

[2018-10-25 16:10] jproberge commented on #136
Hi @atyshka !

I unfortunately never had the chance to test our package stack on melodic yet. However, if you are building soem from source I might have a clue about what is happening here.

First, could you just confirm that the "apparently-missing" header has really been installed on your machine? For example by simply typing

`sudo updatedb; locate ethercattype.h`

Then, check this old PR #88 ,

[2018-10-25 16:18] atyshka commented on #136
Sorry to waste your time, `make install` fixed it. I can't believe I forgot that.

[2018-10-25 16:18] #136 closed, assigned to nobody

[2018-11-03 02:05] jproberge commented on #132
I'm closing this issue, as suggested by @otolithic , more explicit information on how to resolve this issues has been added to the wiki page.

[2018-11-03 02:05] #132 closed, assigned to nobody

[2018-11-22 06:29] qboticslabs commented on #116
Just change #include <osal.h>to

#include "osal.h". It will work

[2018-12-22 04:20] Jackey-Huo opened #139 "Melodic support & gazebo 9.0 support"
Hi, I use Ubuntu 18.04 and ros melodic with robotiq gripper. I soon found that, this official repo do not support melodic.

I try to build kinect-devel in my environment. There is something to be modified, but not too much. e.g. robotiq_s_model_articulated_gazebo_plugins still rely on gazebo::Math module, though it has been removed completely in gazebo 9.0...

I've successful compiled it now. woul

[2019-01-12 14:56] christian-rauch commented on #139
I implemented melodic support in https://github.com/ros-industrial/robotiq/pull/133. This built successfully on my Ubuntu 18.04 / ROS melodic setup.
What compilation errors do you get?

[2019-01-12 15:02] christian-rauch opened #141 "Gazebo models have no colour"
The Gazebo model of the actuated 3-finger gripper has no colour, i.e. it is plain white.
This was mentioned in https://github.com/ros-industrial/robotiq/issues/69 but the issue is still present and I cannot reopen it.
The meshes likely need to be imported/exported to DAE in blender with the correct colour. Is there a reference what the colour values are? I tried to make them cmpletely black but th

[2019-01-14 03:18] Jackey-Huo commented on #139
@christian-rauch Oops, sorry for my stupid question. Your solution works perfectly well, my problem was solved. Close the issue

[2019-01-14 03:18] Jackey-Huo commented on #139
@christian-rauch Oops, sorry for my stupid question. Your solution works perfectly well, my problem was solved. Close the issue

[2019-01-14 03:18] #139 closed, assigned to nobody

[2019-01-15 16:24] superxingzheng commented on #80
I am trying to simulate the 3 finger hand in Gazebo with the ros-industrial kinectic-devel branch. I see the plugins mentioned by @TheDash . But I don't see any URDF that loads the plugins. A tested template URDF for Gazebo would be very helpful. Thanks in advance!

[2019-01-25 22:22] #70 closed, assigned to nobody

[2019-01-25 22:26] jproberge commented on #45
Please make sure to provide the device path as line argument, as well as to make sure your user is in the dialout group, as mentioned here : [http://wiki.ros.org/robotiq](url)

[2019-01-25 22:26] #45 closed, assigned to nobody

[2019-01-25 22:29] jproberge commented on #52
Soem can be installed from sources, if using a ros version <= Jade . For recent versions >= Kinetic, there is now a debian which can be install using sudo apt-get install ros-[ros_version]-soem.

[2019-01-25 22:29] #52 closed, assigned to nobody

[2019-01-25 22:34] #39 closed, assigned to nobody

[2019-01-25 22:38] jproberge commented on #18
This has been fixed.

[2019-01-25 22:38] #18 closed, assigned to nobody

[2019-01-25 22:39] #23 closed, assigned to nobody

[2019-02-01 13:23] Danfoa commented on #111
See the [Danfoa/robotiq_2finger_grippers](https://github.com/Danfoa/robotiq_2finger_grippers) package.

There you will find the URDF descriptions of 85mm and 140mm grippers.

Also the URDF model was added to this package on PR:#138

[2019-02-03 18:09] wxmerkt commented on #135
Hi, I'd like to follow up on this item. We'd really like to see a binary release of the description and/or drivers to kinetic/melodic. Happy to volunteer to help out with this as well.

[2019-02-10 16:50] christian-rauch commented on #108
I just encountered the same issue and mixed up the `robotiq_3f_gripper_articulated_msgs` and `robotiq_3f_gripper_control`.
While the "input" messages have indeed the same hash, the "output" messages differ:
[code]
since the `rGLV` is missing in `robotiq_3f_gripper_articulated_msgs` as @wxmerkt pointed out.

I think it would make sense to go for a single set of messages for the very same purpose. I

[2019-02-22 16:28] wxmerkt commented on #135
Hi @jproberge,
We'd love to get the Robotiq descriptions (and perhaps drivers) released for Kinetic/Melodic as we have to always download the repository and remove the drivers etc. on non-robot machines (or fork and split out the descriptions).
Is there anything speaking against it? I'd be happy to volunteer to help out with this as well.

Thanks,
Wolfgang

[2019-02-25 01:04] jproberge commented on #135
Hi @wxmerkt ,

I've been thinking about this for some time now and I indeed think we should definitely move on to make binary releases for our package stack. To be honest, I don't think it would be incredibly difficult to achieve that in the rather near future, at least for Kinetic and Melodic. Have you checked the Jenkins jobs? See [here](http://build.ros.org/view/Kdev/job/Kdev__robotiq__ubuntu_x

[2019-02-25 08:36] gavanderhoorn commented on #135
@jproberge wrote:

note that Bloom does not support releasing a subset of pkgs from a repository, so if you want to do this, a new repository will have to be created.

This would seem to tie in with ros-industrial/ros_industrial_issues#49.

[2019-02-25 09:29] RoboticsYY opened #144 "Ported to ROS 2.0"
Is there a plan or an estimated date to port this package to ROS 2.0?

Thanks!

[2019-02-25 09:56] nicolaslauzier commented on #144
Hi!

Acutronics made ROS 2.0 packages for the 2F and Hand-E grippers: https://github.com/AcutronicRobotics/robotiq_modular_gripper

Hope this helps!

[2019-02-25 10:00] RoboticsYY commented on #144
@nicolaslauzier Great news! I will try that. Thanks!

[2019-02-25 11:03] wxmerkt commented on #135
Thank you @jproberge! I will follow up in this either in the next few days or first week of March.

Can't we manually specify the list in the `yaml`?

[2019-02-25 12:02] gavanderhoorn commented on #135
after Bloom has done it's job: yes, I believe so, but you would still be versioning and processing everything at the same time, as git does not support partial tagging.

I would also not recommend it tbh.

[2019-02-26 10:41] TouchDeeper opened #146 "kinetic-devel catkin_make error"
Hi,
I clone the branch of kinetic-devel and make, but the error occurs:
[code]
Can you give me some advice? Thanks many.

[2019-03-20 09:20] padhupradheep commented on #80
Hey guys,

I'm trying to use robotiq-3f-gripper along with UR-10 Robot in simulation. Currently, I was able to fix the gripper to the robot by making changes to the urdf. But, I'm unsure how to do basic operations like pinch, open in the ROS, Gazebo simulation. Can you guys just guide me on how to start of with the simulation.?

Thanks!

[2019-03-21 12:05] padhupradheep opened #147 "Robotiq_3f_gripper shakes with the ur10 robot"
Hey guys,

I'm using ur10 robot and trying to connect Robotiq 3f gripper. The problem is that the gripper vibrates/shakes too much in the gazebo simulation.  I tried adding kp, kd, mu1 and mu2 parameters but still the robot is shaking.  What should I be doing?

[2019-03-23 18:53] lazar505 opened #148 "librobotiq_ethercat.so: undefined reference to `ec_group'"
Hi,

I have a problem with installing robotiq library in ros melodic on Ubuntu 18.04. To be precise, when I run `catkin build robotiq`, it reports an error for robotiq_2f_gripper_control and robotiq_3f_gripper_control:

[code]

I found out that `ec_...` comes from openssl so I installed it and added -lcrypto to compiler flag list and also edited cmake file to include openssl library, but the same

[2019-03-24 05:15] Chunting opened #149 "Where is ft_sensor.h?"
It's auto-generated!
Sorry for disturbing you.

Thanks,
Chunting

[2019-03-24 08:06] #149 closed, assigned to nobody

[2019-03-24 17:44] gavanderhoorn commented on #148
Just a clarification:

No, not in this case. `ec` is short for "Ethercat".

[2019-03-25 04:53] jproberge commented on #148
Hi @lazar505

I've never seen this error, but the problem seems to happen while compiling the specific package "robotiq_ethercat" and this package only has one dependency that could cause you trouble, which is soem. Thus, had you installed the soem dependency before building the workspace?

You can install soem simply by typing "sudo apt-get install ros-melodic-soem".

Please also check the other

[2019-03-25 04:57] jproberge commented on #147
Hi,

I have the exact same problem as the one you are describing with the 2f gripper. I'm still trying to find a solution about that, I'll write back as soon as I find one. Just to be clear though, is it the robot or the gripper that's vibrating in your case?

[2019-03-25 05:30] #141 closed, assigned to nobody

[2019-03-25 08:17] padhupradheep commented on #147
Hey,

Thanks for the response !

In my case, gripper is vibrating.

[2019-03-26 13:50] pidipidi commented on #147
I also faced the same issue when I use a UR5. There were two reasons. One is the strict position control of UR5/10 generates vibration in Gazebo. If you use the joint effort control in simulation, you can suppress the physics issue. Another one is there can be self-collision between your gripper and UR10. If you disable it, you can reduce the vibration. You can just disable it in ur.gazebo.xacro.

[2019-04-19 21:45] minhkhang1795 opened #150 "robotiq_2f_140_gripper appears broken in Gazebo"
Hello, I'm trying to attach the **2f_140_gripper** to a UR5 arm. I got the URDF file of 2f_140_gripper from this repo and the UR5 from your `universal_robot` repo.

Here is how I modified the [ur5_joint_limited_robot.urdf.xacro](https://github.com/olinrobotics/universal_robot/blob/hiro-xamyab/ur_description/urdf/ur5_joint_limited_robot.urdf.xacro) to attach the gripper to the UR5 arm's end effecto

[2019-04-20 03:33] Chunting opened #151 "How to connect two robotiq FT sensors?"
Hi,
My working platform is:
Ubuntu: 16.04
ROS: Kinetic
URCap 3.8

I have two robotiq ft sensors, one is FT 300 and the other is FT150.
Does this driver support to connect two sensors at the same time?
If so, how to seperate the data? Since it seems that the driver advertises the received date on the same topic "robotiq_ft_sensor" or "robotiq_ft_wrench" ?

Thanks,
Chunting

[2019-04-20 05:19] minhkhang1795 commented on #150
Hello,

I found out why the MoveIt! didn't work. I didn't disable collisions in the `ur5.srdf` file. For those who have similar problems with MoveIt!, you should add `<disable_collisions>` to your MoveIt! configuration. For example:

[code]

This issue is resolved. Please close it. Thank you! :)

[2019-04-20 06:09] gavanderhoorn commented on #150
whenever you change the urdf/xacro that a MoveIt configuration is based on, you should re-run the MoveIt Setup Assistant.

That would have taken care of this, as well as adding new groups and updating other settings that may be affected by the introduction of new links and joints.

Reusing a MoveIt configuration is almost never a good idea actually (and the ones in `universal_robot` are only ever

[2019-04-20 10:14] #150 closed, assigned to nobody

[2019-04-20 10:29] jproberge commented on #151
Hi @Chunting

Unfortunately, the driver currently supports only a single force-torque sensor.

Now, to achieve what you want to do, you should probably look for information about how to run multiple instances of the same node. For example, see [this link](https://answers.ros.org/question/160071/running-multiple-instances-of-same-node/). As you will see, it's possible to run multiple instances as w

[2019-04-22 11:54] gavanderhoorn commented on #151
@jproberge wrote:

@jproberge: why do you say "unfortunately" here?

Running multiple instances of a single node to interface with multiple sensors seems like a proper way to implement a driver. And using namespaces and remapping are well-established practices in ROS, so unless a use-case makes it difficult, I personally always prefer to run multiple instances of a driver node that interfaces with

[2019-04-22 20:00] jproberge commented on #151
@gavanderhoorn , I said "unfortunately" as in "unfortunately [for you], the driver currently doesn't work this way [...]". I didn't want to imply that we should add a "multi-device functionality" to the driver or any other kind of modifications. I know running multiple instances is the proper way here, sorry if that wasn't clear.

This is a request I often get from customers and, in my experience,

[2019-04-23 02:05] Chunting commented on #151
Thanks for your reply.
I put the node in two different groups and now it works well.
[code]

Thanks,
Chunting

[2019-04-23 21:47] jproberge commented on #151
Thanks for the update @Chunting !

I'm now closing this issue, good to know you were able to make it work :)

[2019-04-23 21:47] #151 closed, assigned to nobody

[2019-04-23 21:59] #148 closed, assigned to nobody

[2019-04-30 17:20] #108 closed, assigned to nobody

[2019-04-30 17:21] jproberge commented on #147
@pidipidi this indeed solved the issue on our side! Thanks for your comment!

[2019-04-30 17:21] #147 closed, assigned to nobody

[2019-04-30 17:22] #144 closed, assigned to nobody

[2019-04-30 17:25] jproberge commented on #11
Closing this issue as these lines are not in the CMakeLists.txt anymore.

[2019-04-30 17:25] #11 closed, assigned to nobody

[2019-04-30 17:32] #94 closed, assigned to nobody

[2019-04-30 17:33] #40 closed, assigned to nobody

[2019-04-30 17:34] #44 closed, assigned to nobody

[2019-04-30 17:35] #72 closed, assigned to nobody

[2019-05-01 14:55] christian-rauch commented on #135
If a partial release is not possible at this time, could we at least split the descriptions (`robotiq_2f_c2_gripper_visualization`, `robotiq_2f_140_gripper_visualization`, `robotiq_3f_gripper_visualization`) into separate git repos and add them as submodules to this main repo?
I also would really like to use the descriptions (and maybe the message definitions) without having to download/compile th

[2019-05-01 15:04] gavanderhoorn commented on #135
not a real solution, but both `catkin` and `catkin_tools` support package white- and blacklists that make it relatively easy to compile subsets of packages in a workspace. You should be able to use that as a work-around for now.

[2019-05-01 15:12] christian-rauch commented on #135
@gavanderhoorn What do you mean with "not a real solution"? I think it should be possible to use the URDFs and meshes without the control and Gazebo stack.
If the descriptions are located in their own repo, you can either A) bloom release them independently from the drivers and simulation, or B) add them as submodules and later bloom release them as part of the `robotiq` meta package.
In any case,

[2019-05-01 15:20] gavanderhoorn commented on #135
What I posted (ie: use a black or whitelist) was not meant as a real solution. It's almost a work-around.

---

Edit: however, users don't have to compile "everything" should not be a rationale for splitting repositories. For that black and/or whitelisting are actually OK techniques.

The real solution would be to just release the packages. Then users would not have to build them from source, and

[2019-05-01 15:22] wxmerkt commented on #135
Another work-around I frequently use: Clone the repository in a different location and symlink only the descriptions into the workspace.

I am all in favour of making a binary release and happy to volunteer to assist with it. @jproberge is there anything blocking a binary release right now?

[2019-05-01 15:34] christian-rauch commented on #135
@gavanderhoorn I agree that blacklisting packages is not an ideal solution. That is why I am proposing to move the descriptions into their own repos and either release them independently or as a submodule of the main repo.
The benefit of having modular repos is actually quite large. You can use the URDFs without having to wait for a release (e.g. on other Linux distributions or CPU architectures)

[2019-05-01 15:40] gavanderhoorn commented on #135
@christian-rauch: perhaps you're misunderstanding me. I don't need to be convinced of the benefits of splitting off drivers from description repositories. I already linked ros-industrial/ros_industrial_issues#49 which deals with this exact topic.

However, I don't believe splitting because of "not having to build everything" should be the *only* rationale, as there is support in tools to manage th

[2019-05-01 17:26] christian-rauch commented on #146
There is a compiler error that says:

It seems you have a newer version of `protoc` than the one used to generate the Gazebo message headers. Which `protoc` version are you using? You should downgrade your protoc or use a newer Gazebo.

[2019-05-01 17:32] christian-rauch opened #152 "Robotiq 3-finger RViz plugin"
I created an RViz plugin [`robotiq_3f_rviz`](https://github.com/christian-rauch/robotiq_3f_rviz) to control the hand and read its state:
![rq3f_rviz](https://user-images.githubusercontent.com/8226248/57031220-0b4f5a00-6c3f-11e9-94d2-6ac97f336926.png)

At the moment it is providing the same functionality (on/off, set mode, set finger state) as the `Robotiq3FGripperSimpleController` example. It migh

[2019-05-02 11:26] marcoojer opened #153 "Indepent Control Finger Not working in Gazebo"
Hi! I'm trying to control each finger independtly for a Robotiq 3f gripper articulated hand in gazebo. I set the rICF bit to 1, but still, the hand is moving according to the rPRA flag for all the fingers. Am I missing something else?

[2019-05-06 02:42] #146 closed, assigned to nobody

[2019-05-07 02:34] jokermay opened #154 "ImportError: No module named robotiq_2f_gripper_control.baseRobotiq2FGripper"
hello, I followed the tutorials "Control of a 2-Finger Gripper using the Modbus RTU protocol (ros kinetic and newer releases)" as [tutorials](http://wiki.ros.org/robotiq/Tutorials/Control%20of%20a%202-Finger%20Gripper%20using%20the%20Modbus%20RTU%20protocol%20%28ros%20kinetic%20and%20newer%20releases%29) , however, when i run the command "rosrun robotiq_2f_gripper_control Robotiq2FGripperRtuNode.p

[2019-06-05 12:11] LKuik opened #155 ".."
..

[2019-06-05 12:41] #155 closed, assigned to nobody

[2019-06-14 01:35] felixvd commented on #136
@atyshka Could you add some more details on what you did to fix this? Thanks in advance.

[2019-07-08 03:01] yepw commented on #150
Hi, I faced the same problem and followed the solution above using `roboticsgroup_gazebo_plugins`. The gripper looks good in the static condition, but once I use the controller to close/open the gripper, it doesn't move properly. If you have the same problem, the following code might be helpful:

[code]

The complete package is [here](https://github.com/intuitivecomputing/ur5_with_robotiq_gripper)

[2019-07-08 16:14] RaduCorcodel opened #159 "Support for the Hand-E gripper"
Is there any support for the Robotiq Hand-e gripper?

[2019-07-24 23:33] YueqiYu opened #161 "Control 2f gripper in RVIZ/Gazebo simulation"
Hi, I'm able to install the robotiq 2f 140 gripper to ur5 model and do path planning or move ur5 robot in gazebo/ rviz, but don't know how to control this gripper to close and open, is there a specific code example? Thank you so much!

[2019-08-22 10:23] christian-rauch opened #163 "melodic release"
Since #133 the package builds on ROS melodic. It would be nice to have a binary (bloom) released version in the ROS melodic repo.
You may also want to consider merging #145 to add pre-release CI support.

[2019-09-03 03:24] gokul-narayanan1 opened #164 "ROS support for robotiq epick vacuum gripper"
Are there ROS packages available for controlling robotiq epick vacuum gripper?

[2019-09-04 00:27] gokul-narayanan1 commented on #164
I am planning to create a ROS package for the epick vacuum gripper and contribute to the ROS industrial community. So, before starting to work on writing the package, I just want to know , are there anyother people working on this issue, we can collaborate if needed

[2019-09-07 02:20] jproberge commented on #164
Hi, I'm sorry for not replying earlier, but I've already done one and I'm planning to do a PR soon about this. So, I developed them less than a month ago and it should be then considered as an "alpha release". As I haven't made a Pull Request to this repo they should not be considered official at this time, but they should work and I'd be glad to provide you assistance if you need it. You can find

[2019-09-12 00:29] gokul-narayanan1 commented on #164
Hello,
Thanks for sharing the code. I was testing the code. I am getting the following error , incase if I am not sending any command for sometime,

    output.append((response.getRegister(i) & 0xFF00) >> 8)
AttributeError: 'ModbusIOException' object has no attribute 'getRegister'

[2019-09-12 10:28] jproberge commented on #164
Hello @gokul-gokz ,

Thanks for testing the code, I really appreciate it! it works fine on my end, but I actually have another customer who has the exact same issue as you... So I will definitely investigate this!

It would help me if you were willing to share some details though. Is this happening only when you are not sending commands for a long period of time? Also, are you able to actually con

[2019-09-13 03:21] gokul-narayanan1 commented on #164
Hello,
  I was able to connect to the gripper. It turned blue when I ran the RobotiqVacuumGrippersRtuNode.py and I was able to hear some noise when I give activate but the 'g' grip command is not working and after sometimes , the node crashes with the above reported error.

I am using ROS-kinetic. I have installed the package socketcan-interface.

[2019-09-15 08:57] jproberge commented on #164
Thanks @gokul-gokz  for the additional information.

I've actually went to debug this problem at a customer's office this week and I've talked with some engineers from Robotiq about the issue as well. I will need to fix the problem, because there indeed seems to be a communication error that can happen once in a while.

To temporarily solve the problem, I've made a patch for the customer which bas

[2019-09-15 09:03] jproberge commented on #163
You are right! #145 has been approved and merged now.

[2019-09-15 09:38] jproberge commented on #159
Hi @RaduCorcodel ,

Sorry for the late reply, but the package made for the 2f_gripper should work perfectly with the Hand-e gripper. I tried it a few months ago and it worked flawlessly. Tell me if you experience(d) any issues!

Best

[2019-09-15 09:38] #159 closed, assigned to nobody

[2019-09-15 13:40] RaduCorcodel commented on #159
Hi @jproberge. Thank you, yes the 2f gripper in the current development branch works with hand-e. We simply made some changes in the urdfs to load the correct geometry. It seems to be working perfectly

[2019-09-15 15:13] christian-rauch commented on #163
Is there a binary release scheduled?

[2019-09-30 18:35] christian-rauch commented on #163
@jproberge I don't see a released or pending release for https://github.com/ros/rosdistro/blob/master/melodic/distribution.yaml.
Can you reopen this issue until a package has been released?

[2019-10-13 17:00] danfergo opened #167 "Can not connect gripper 2F-85 by USB"
I recently got a 2F-85 Gripper, and I'm trying to get to work via USB/ROS.  My Issue Is similar to the ones described #45 and #121, but I followed all the steps and i can't seem to get the gripper to work.

**I run:**
[code]
**Output:**
[code]
I've already added $USER to dialout and changed the  /dev/ttyUSB0 permitions to all sorts of configurations (currently I have it set to 777)
[code]

I'm run

[2019-10-18 02:56] Jiongyu opened #170 "how to connect the ft300 to ros?"
ubuntu16.04
kinetic

[2019-10-18 08:01] #170 closed, assigned to nobody

[2019-10-25 08:06] victor-robotic-24 commented on #167
I am trying to control the Robotiq 2F-85 gripper in Ubuntu 16.04 (kinetic) and I also get the same error. I can't connect the gripper via USB. I can't put the gripper led in blue.

The first thing I do is install the following repository in my workspace:

   `git clone https://github.com/ros-industrial/robotiq.git`

and the dependencies:

   `sudo apt-get install ros-kinetic-soem`
   `sudo easy_in

[2019-10-25 08:29] danfergo commented on #167
Hi @victor-robotic-24,

I don't know what exactly did the trick, but I was able to get the gripper to work after connecting it to the UR5 and changing the device is in the gripper/urcaps settings. I also connected the gripper to the "Robotiq User Interface" on a Windows desktop, and made sure the protocol settings matched the ones on the manual  (RTU protocol).

Best of luck.

Best,
Daniel

[2019-11-06 23:21] gokul-narayanan1 opened #171 "URDF for Robotiq Epick gripper"
Is there any URDF of Epick vaccum gripper attached with robot endeffector available ?

[2019-11-25 06:49] #152 closed, assigned to nobody

[2019-12-12 23:34] lit-af commented on #90
@shaun-edwards This issue could be closed.

[2019-12-15 21:18] #90 closed, assigned to nobody

[2019-12-15 21:18] gavanderhoorn commented on #90
@shaun-edwards is no longer maintaining this repository. That would be @jproberge.

[2019-12-18 04:05] stevensu1838 opened #173 "Error when following Husky Dual UR5 Mobile Manipulation Demo (Simulation)"
Hi,
I've been following the [Husky Dual UR5 Mobile Manipulation Demo (Simulation)](https://www.clearpathrobotics.com/assets/guides/husky/HuskyDualManip.html) tutorial. And I am on Controlling The Grippers session. I could control the gripper with no problem by running the following commands:
$ roslaunch husky_gazebo husky_empty_world.launch
$ rosrun robotiq_s_model_control SModelSimpleController.p

[2019-12-18 09:44] gavanderhoorn commented on #173
Cross-posted: [robot disappears in Gazebo when following Husky Dual UR5 Mobile Manipulation Demo (Simulation)](https://answers.ros.org/question/340239).

[2019-12-20 23:34] stevensu1838 commented on #173
Hi Buddy,
Is it because of the Christmas that no one answers this question?

[2019-12-22 03:18] jproberge commented on #173
Hi @stevensu1838 ,

I don't see how this could really be related to Robotiq's package stack, but I might be wrong. If you want more people to jump in and help, then could you provide more details? Which ROS/Gazebo versions are you running? Also, if you have followed the tutorial you pointed out to, you have installed a forked version of this repo (i.e.: https://github.com/DualUR5Husky/robotiq) whi

[2020-01-14 04:07] flymaxty opened #174 "Can not open robotiq ros wiki tutorials"
Hi,
Looks like robotiq ros wiki tutorial page has problem.

The index page(http://wiki.ros.org/robotiq/Tutorials) is ok, but none of content can be opened, the browser reports as below:

[code]
I'm not sure if the problem comes from ISP or the wiki page itself.
Can someone help to check the page is available?

Thank you

[2020-01-14 04:08] #174 closed, assigned to nobody

[2020-01-14 04:09] flymaxty commented on #174
It works now :)

[2020-03-13 06:32] tejaswid commented on #167
I occasionally have the same problem, even after granting correct permissions using the `chmod` and `usermod add` commands. The fix that worked for me was to physically disconnect the gripper and reconnect it.

It seems that some internal flags are reset when the power to the gripper through the pins that connect it to the robot arm is turned off. (pins at the back of the gripper, not the cable)

[2020-03-18 17:21] gtatiya commented on #167
I was facing the exact same problem, and here's how I fixed it:

In line 65 of Robotiq2FGripperRtuNode.py (https://github.com/ros-industrial/robotiq/blob/66961ec6b6c9c493f13410d16ce32cea1648babf/robotiq_2f_gripper_control/nodes/Robotiq2FGripperRtuNode.py#L65), replace `pub = rospy.Publisher('Robotiq2FGripperRobotInput', inputMsg.Robotiq2FGripper_robot_input)` with `pub = rospy.Publisher('Robotiq2F

[2020-03-26 08:40] GDUTwd commented on #161
hi,I've been combining gripper with ur5 recently，but i get some trouble ,The gripper is shaking all the time，would you like to tell me the steps to  combine gripper and ur successfully? thank you so much!

[2020-03-26 08:43] GDUTwd commented on #173
hi,I've been combining gripper with ur5 recently，but i get some trouble ,The gripper is shaking all the time，would you like to tell me the steps to combine gripper and ur successfully? thank you so much!

[2020-06-23 21:13] felipefelixarias commented on #159
Hi @RaduCorcodel, I am also looking for hand-e gripper support. Did you make your own urdf from the step files? If you could point me in the right directions I would be very grateful.

[2020-07-03 02:47] li2jq commented on #164
Hi @jproberge
Do you fix this problem for your customer?
[code]
Also from your last comment, you made a patch to temporarily solve this problem. Could you provide the detailed instructions about this patch? Like where to add/change/delete the code. Thank you!

Best regards
Jiqing Li

[2020-07-07 11:20] gavanderhoorn commented on #26
@ipa-nhg: I would recommend to re-run `catkin_lint`.

It's been a while since I reported this (almost 5 years ..) so lots of things have changed in the meantime.

[2020-07-07 11:23] NadiaHG commented on #26
Sure, now catkin_lint is reporting even more errors...

[2020-07-07 13:01] NadiaHG commented on #26
Solved by https://github.com/ros-industrial/robotiq/pull/176

[2020-07-07 13:22] gavanderhoorn commented on #26
@ipa-nhg: CI seems to fail:

[code]

[2020-07-07 13:56] NadiaHG commented on #26
@gavanderhoorn sorry, I made a typo mistake -> solved and rebased the branch, now should be ok

[2020-07-07 13:57] gavanderhoorn commented on #26
Just left some comments.

[2020-07-07 17:13] ngwk1 commented on #80
Hi, I have attempted to use the default gazebo plugins for the robotiq-3f-gripper along with UR Robot in simulation. Able to control by setting from both rostopic and moveit. Need more work on setting the PID as well as other factors to make the model less agitated/wobbly. Attached a GIF to show the controlled via Moveit to Gazebo model.

Noteworthy: If used on only RVIZ, the package will work per

[2020-07-15 14:36] Pranav186 commented on #154
Hello, @jokermay , I am facing the same error. Did you find the solution to it?

[2020-07-15 15:06] Pranav186 opened #177 "ImportError: No module named robotiq_2f_gripper_control.baseRobotiq2FGripper"
Hello,
 I am trying to control robotiq 2 finger gripper with ros kinetic. I followed the tutorial from roswiki. After running the command-
[code]
I am getting the following output on the terminal-
[code]
Can someone help me with this ?

[2020-07-16 20:51] #177 closed, assigned to nobody

[2020-07-16 20:52] Pranav186 commented on #177
Solved by creating a new workspace for the gripper.

[2020-07-24 13:19] Krause92 opened #178 "Feedback of gripper position"
Hi,

I'm working with the 2f_gripper_action_server. In the Feedback message there is an apparently incorrect calculation of the gripper finger's position:

https://github.com/ros-industrial/robotiq/blob/66961ec6b6c9c493f13410d16ce32cea1648babf/robotiq_2f_gripper_action_server/src/robotiq_2f_gripper_action_server.cpp#L66

if the gripper is fully opened input.gPO is zero. If it is fully closed we go

[2020-07-30 02:24] MunimRayhan commented on #171
@gokul-gokz  Did you find URDF for Epick vaccum gripper?

[2020-08-07 08:07] srediske commented on #80
I have attached the 3f gripper in a new xacro file to the UR(10) and can control the UR, but not the gripper. I wasn't able to successfully implement any controllers for the gripper. Could you share what steps are needed to implement the controller or share your work?

[2020-08-12 17:03] matthias-mayr commented on #159
@RaduCorcodel @felipefelixarias - Did you make some progress that you want to share?
At least the URDFs would be interesting - ideally also a simulation if anyone has worked on that.

@jproberge: I would not call this issue to be closed, unless robotiq is not willing to support the Hand-E gripper with ROS.
Even if it is compatible with the 2f_gripper package, this behavior should be documented and

[2020-08-12 22:24] felipefelixarias commented on #159
@matthias-mayr We were able to use this urdf (https://github.com/AcutronicRobotics/robotiq_modular_gripper) for our simulation. Unfortunately I cannot share our code right now. We had to change a few things since the urdf I mentioned uses ROS2. I am also not sure of how well this will translate to our physical deployment. It would indeed be nice to have a recommended/official approach for simulati

[2020-08-24 22:53] MOJOliciousFTW commented on #159
Hand-E works? I got the 2F 85 working, switched to Hand-E: no, not working. Guess I’ll try harder.

A week later: Tried harder. Took a different approach. Used a UR5e, communicated with its Robotiq URCap. Setting the SID was crucial for our Hand-E to work (GET SID, SET SID as the same number). https://github.com/frdedynamics/ros_robotiq_urcap_control

[2020-09-01 14:38] kamilcetin commented on #167
I had the same problem of
AttributeError: 'ModbusIOException' object has no attribute 'getRegister'

I did all things above, but did not solve it. When I changed my RS485-USB interface board, it works now.

[2020-10-20 03:38] EmilyJrxx commented on #167
I ran into almost the same problem:

Traceback (most recent call last):
  File "/home/xxwang/ROS_Workspaces/ros_k4a_auboi5_ws/src/robotiq/robotiq_2f_gripper_control/nodes/Robotiq2FGripperRtuNode.py", line 89, in <module>
    mainLoop(sys.argv[1])
  File "/home/xxwang/ROS_Workspaces/ros_k4a_auboi5_ws/src/robotiq/robotiq_2f_gripper_control/nodes/Robotiq2FGripperRtuNode.py", line 75, in mainLoop

[2020-12-02 11:09] ysl208 opened #181 "This goal was canceled because another goal was recieved by the simple action server"
Hi, I am using your gripper action server and wrote an action client that sends a goal to the action server.

[code]

For some reason it seems to fail because it thinks that there is a new goal being sent. But in the above echo it only shows one goal, so I'm not sure what's going wrong here.

[code]

[2020-12-10 14:13] jatinagarwal1308 commented on #125
I am using ur5 2 finger gripper controller and getting the same error in python
@bringBackm can you please guide me how to get rid of it?
Thanks in advance

[2020-12-11 08:44] ysl208 commented on #161
Hi, i tried the robotiq_2f_gripper_action_server on my real UR5 robot, but it doesn't seem to work.

It gives me a warning `gripper could not accept goal because the gripper is not yet active`, but I don't know how to activate it, it seems that I need to publish something in the /input topic

[2020-12-14 04:57] xs-alt commented on #125
@jatinagarwal1308
It seems to be the wrong configuration.

[2020-12-14 09:58] chikuta opened #182 "urdf_parser_py throw exception when I process this model"
When I process robotiq_2f_140 model by [urdf_parser_py](https://github.com/ros/urdf_parser_py), urdf_parser_py throw exception as follows.

[code]

I think that this exception comes from material in collision tag.
According to [ros-wiki](http://wiki.ros.org/urdf/XML/link), collision tag doesn't allow to use material tag.

https://github.com/ros-industrial/robotiq/blob/66961ec6b6c9c493f13410d16ce32

[2021-01-08 02:10] RaduCorcodel opened #183 "Controlling grippers using Modbus"
Hello,

Are there any implementations of a control node using Modbus. We have two grippers, one Hand-E that we control with the UNI-CTR-001-MTCP external controller (Modbus/TCP) and a 3-Finger adaptive gripper also with a Modbus interface.
Thank you.

Regards,
Radu

[2021-02-23 22:35] jeff-o opened #185 "Connect to 2f gripper via USB, using action server"
Hi! I would really appreciate some guidance on how to properly connect with a 2f gripper, so that it publishes joint state positions and can be controlled by publishing goal messages.

I know that the gripper is reachable, as I was able to connect with it by following this [tutorial](https://wiki.ros.org/robotiq/Tutorials/Control%20of%20a%202-Finger%20Gripper%20using%20the%20Modbus%20RTU%20protoco

[2021-02-24 08:57] gavanderhoorn commented on #185
I'm not a maintainer here, but this repository is hosted on our organisation, so I'd like to add some expectation management.

Robotiq do not appear to support the packages in this repository any more. They haven't done so, for quite some time.

@jproberge took over for some time, but appears to also have switched to something else.

Other members of `ros-industrial` (ie: the Github organisation)

[2021-03-27 10:41] HeleneAlberdiArtola commented on #159
@felipefelixarias I am trying to control de hand-e robotiq gripper by using ros1 noetic and I was wondering if you managed to make the appropriate changes in (https://github.com/AcutronicRobotics/robotiq_modular_gripper) for its correct operation. If so I was wondering if you could provide me with the code. Thank you in advance.

[2021-03-29 10:08] L-eonor commented on #161
You can control it by using a SimpleActionClient (http://wiki.ros.org/actionlib_tutorials). It works as following: http://wiki.ros.org/actionlib#Client-Server_Interaction

For that, you'll need to:
* add the  gripper controller to the .yaml file as following:
` # Gripper controller
gripper_controller:
  type: effort_controllers/GripperActionController
  gains:
    finger_joint: {p: 10,  d: 0.1, i:

[2021-04-15 03:51] Mingrui-Yu opened #187 "ROS driver for the wrist camera"
I have a robotiq wrist camera installed on UR5, and I wish to access the images through a ROS topic. I have noticed that on ROS wiki it says "Wrist Camera is currently not supported". I wonder when it will be supported, or whether there is a plan to support it.

Besides, is there another approach to access the camera images on the PC?

Thank you very much!

[2021-05-04 14:00] rolandying commented on #177
Hi, I have faced the same error, and I have tried to creat a new workspace, but it didn't make a difference, so could you tell me more details about how to solve the problem. Looking forward for your reply!

[2021-05-06 11:49] bitmeal commented on #183
Look here: https://github.com/bitmeal/ros-modbus-device-driver
It's a generic Modbus/TCP device driver that exposes your coils and registers over ROS topics.

1. Define your controller (or gripper as seen through the controller) as per the specification
2. 🚀 access/use the exposed data/functions over standard ROS topics

[2021-06-08 03:54] rahul-exwzd commented on #171
https://github.com/ValerioMa/robotiq_tcp/tree/master/robotiq_epick_visualization

[2021-07-06 20:00] RaduCorcodel opened #189 "Support for Noetic"
Hello,

Are there any plans to support Ubuntu20/ROS-Noetic? Thank you.

Radu,

[2021-07-06 21:11] gavanderhoorn commented on #189
Please see the [Status](https://github.com/ros-industrial/robotiq/tree/45196f6558fe8ba9d89bc8a105396c68c3e7e892#status) section in the main readme.

I don't believe anything has changed.

[2021-07-08 20:57] Gloriabhsfer opened #190 "read robotiq force sensor together with UR5"
Hi all:

I am doing force control research on ur5 and need the force information from the robotiq force sensor. My system is Ubuntu 16.04 and kinetic. I have check many methods like:
 [https://github.com/ibaranov-cp/husky_UR_accessories/tree/master/robotiq_force_torque_sensor](url) But I am not sure what is the udev in these methods.
My understanding for connecting my PC to UR5 is using the TCP/IP

[2021-07-09 15:16] Gloriabhsfer commented on #132
Hi all:

I have plug the force sensor on my computer and follow the instruction of @jproberge by adding the user dialout and gave the permission of the USB port. Then I run the code:
`rosrun robotiq_ft_sensor rq_sensor`
It shows
` [ INFO] [1625843512.095571884]: No device filename specified. Will attempt to discover Robotiq force torque sensor.
[ INFO] [1625843513.316304590]: Waiting for sensor co

[2021-07-09 23:20] RaduCorcodel commented on #189
Hi @gavanderhoorn,

I'm only asking because the newest branch which is kinetic-devel does not build on Noetic. A series of errors occur which start with the message bellow, then it's more of the same errors for pretty much the rest of the project.

[code]
I have modified ```add_compile_options(-std=c++11)``` to ```add_compile_options(-std=c++17)``` in file robotiq_3f_gripper_articulated_gazebo_plu

[2021-07-09 23:34] RaduCorcodel commented on #189
I poked around more and I localized it to [Line34-39](https://github.com/ros-industrial/robotiq/blob/45196f6558fe8ba9d89bc8a105396c68c3e7e892/robotiq_3f_gripper_articulated_gazebo_plugins/src/RobotiqHandPlugin.cpp#L34). Which would make sense because the compiler complains about access.

[2021-07-12 06:52] gyxx323 commented on #187
I have the same question. Do you have any methods to use the camera on PC now?

Thank you very much!

[2021-07-20 08:26] robint-XNF commented on #164
hello，i have followed your steps, after i run command 'rosrun robotiq_vacuum_grippers_control RobotiqVacuumGrippersRtuNode.py /dev/ttyUSB0', the light turns to green, then ,i run "rosrun robotiq_vacuum_grippers_control RobotiqVacuumGrippersSimpleController.py", whatever command i use ,the epick didn't work. but i can use ur screen to control it. could you tell me why?

[2021-07-21 08:11] robint-XNF commented on #164
i also want to ask that why my epick's light turns to green rather than blue after i run 'rosrun robotiq_vacuum_grippers_control RobotiqVacuumGrippersRtuNode.py /dev/ttyUSB0', so i can't control my epick and also could not receive the status from the epick even though i have controlled it by ur.

[2021-07-22 09:14] robint-XNF opened #191 "can't control epick gripper"
hello，i have followed the steps try to control rpick by ROS, after i run command 'rosrun robotiq_vacuum_grippers_control RobotiqVacuumGrippersRtuNode.py /dev/ttyUSB0', the light turns to green rather than blue that showed in the vedeo, then ,i run "rosrun robotiq_vacuum_grippers_control RobotiqVacuumGrippersSimpleController.py", whatever command i use ,the epick didn't work. but i can use ur scree

[2021-07-22 12:30] robint-XNF commented on #191
add that when i echo this message 'RobotiqVacuumGrippersRobotInput', every number of arguments is '0', and never changed whatever command i send, the message 'RobotiqVacuumGrippersRobotOnput' has changed after i sent command. the outside light is blue, the USB's light is green, i think it is right, sorry.

[2021-07-22 13:01] robint-XNF commented on #191
i find the difference from the video, i connect my epick with ur robot by I/O Coupling connector directly, and i can use the ur screen to control it. but i want to use ros to control it, so i use the micro-USB port connect the epick with my computer. i didn't change the I/O port like your video shows. can i control it by Micro-USB directly?

[2021-09-07 00:43] nhinke commented on #189
Hi @RaduCorcodel ,

I am currently experiencing the same issue that you outlined above; were you ever able to figure out a solution? Thanks!

[2021-09-12 09:23] shipeiZ commented on #125
Limits are wrong. Change lower limits opposite to upper limits for all joints except finger joint
take  inner_knuckle_joint as example
origin :<limit lower="0" upper="0.8757" velocity="2.0" effort="1000" />
modified :<limit lower="-0.8757" upper="0.8757" velocity="2.0" effort="1000" />

[2021-09-15 12:54] rolandying opened #192 "Error in linking robotiq 3f gripper to a UR10"
When I was trying to link the robotiq 3f gripper with a UR10 and show the model in RVIZ, an error happened.
This is my ``` .urdf.xacro``` file
[code]
The Fts150 shows perfectly, but when I add the robotiq 3f gripper part.
The error comes out:
[code]
Is there anyone who knows how to handle this?
Any replies are welcome!

[2021-09-16 03:08] mqt0029 commented on #189
Have a look at [jr-robotics/robotiq](https://github.com/jr-robotics/robotiq), which does have a `noetic-devel` branch currently in the works. Apparently, the fix was removing the `#define private public` and renamed a few references. See https://github.com/jr-robotics/robotiq/commit/7a8f61b26325ab01002e0c7ebd1aa53ab5c25317

[2021-10-04 09:00] YongLD opened #194 "ROS2-devel"
##### QUESTION
Will this update the ROS2-devel?
I realize that this repository is unmaintained, but we do need the ROS2-supported.

[2021-10-05 13:37] #192 closed, assigned to nobody

[2021-10-06 07:30] gavanderhoorn commented on #194
To reiterate: this repository does indeed seem unmaintained.

I would not expect a ROS 2 port / ROS 2 related development to happen / be coordinated in this repository.

[2021-10-09 06:03] YongLD commented on #194
@gavanderhoorn  Thanks for reply. Is there any robotiq driver can I utilize if I want to use the robotiq gripper in ROS2?

[2021-10-09 08:22] gavanderhoorn commented on #194
I would not know I'm afraid.

We don't maintain this, the repository is only hosted here for historical reasons.

[2021-10-09 08:28] YongLD commented on #194
@gavanderhoorn Anyway, thank you very much!

[2021-10-09 08:28] #194 closed, assigned to nobody

[2021-11-30 13:16] MZJR opened #195 ""rosdep install robotiq_modbus_tcp" failed to execute"
- Version:
Ubuntu20.04 noetic
- Connection method:
Robotiq_85gripper plug directly into the flange interface at the end of the UR5e,PC and UR control box are connected by network cable

I don't know if it is because of Noetic. If so, how can I control the robotiq gripper connected to UR under this version?

The following error appears as the title:
`ERROR: the following rosdeps failed to install

[2021-11-30 13:23] garethByers opened #196 "robotiq gripper spawns and the fingers flop"
after spawning into the simulation the gripper spasms and does not work at all. this happens before and after being attached to a ur5 robot

[2021-11-30 13:32] MZJR commented on #196
You may need this plugin？[https://github.com/roboticsgroup/roboticsgroup_upatras_gazebo_plugins.git](url)

[2021-11-30 14:26] srediske commented on #195
Rosdep can't find a reference in their config file ([should be this one](https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml)) for `python-pymodbus` so it tries to call it directly, which fails.

You could try `apt-get install python3-pymodbus` or follow the instructions: [pymodbus](https://pymodbus.readthedocs.io/en/latest/readme.html#installing). But there could be more issues with noe

[2021-12-01 02:22] MZJR commented on #195
Thanks for your suggestion. It works.

[2021-12-01 02:22] #195 closed, assigned to nobody

[2021-12-24 09:30] ZhenshengLee commented on #84
see this https://gist.github.com/awesomebytes/2595b1dc41831c804a4f

[2022-01-27 16:11] vickyvou opened #197 "ROS + moveit for robotiq 2f_85 with UR5e (next steps and errors)"
# Summary
Hello all. I need to control both the UR5e and robotiq 2f_85 with ROS and moveit!. I have two basic issues and the most important is: I am not which is the next step so I can have access to the gripper. I can control the UR5e with moveit. Also, a bit of a n00b when it comes to manipulators, so apologies in advance in case I have missed something.

So I run the  `ur_robot_driver ur5e_brin

[2022-01-27 17:18] gavanderhoorn commented on #197
First: please note the "this repository is unmaintained" notice in the readme on the main page of this repository.

Having written that: you write:

that's not how the tool communication of `ur_robot_driver` is supposed to work.

The `/tmp/ttyUR` is a proxy for the RS485 port *on the flange of the robot*. You cannot use `tool_communication` for anything else.

At this point this is more an issue w

[2022-01-28 05:43] vickyvou commented on #197
Ah I see, so there is something that I am missing as information then to access the robot. The problem is that the robotiq that they gave us didn't have the appropriate module to mount it on the flange (which would also look more elegant) so trying to figure out what is the best configuration.

Thank you very much for your reply I will take this to the UR :)

[2022-01-28 05:43] #197 closed, assigned to nobody

[2022-02-16 04:22] zhengnx0906 opened #198 "rosdep install robotiq_modbus_tcp failed"
Thanks for your suggestion. It works.

_Originally posted by @MZJR in https://github.com/ros-industrial/robotiq/issues/195#issuecomment-983222228_
sry, I successfully install python3-pymodbus, but 'rosdep install robotiq_modbus_tcp' is still faild to execute. Is anything else i need to do?

[2022-04-07 13:53] rrapi commented on #197
Hi everyone!!

I am doing the same thing for my master thesis and I got the same problem as @vickyvou. But unfortunately I cannot connect the gripper directly to the ROS pc. So I am able to control the robot arm but not the robotiq gripper.

Do you know if there is a way to make it work directly connected to ur controller??

Could someone help me please to solve this problem??
I am trying a lot of

[2022-05-09 20:24] lianghongzhuo opened #200 "Can I maintain this package?"
Can I maintain this package?

[2022-05-10 02:10] nicolaslauzier commented on #200
Sure! Do you have access to the Robotiq devices?

On Mon, May 9, 2022 at 4:24 PM Hongzhuo Liang ***@***.***>
wrote:

--

Nicolas Lauzier, Eng., Ph. D. / ing.

Senior Product Manager⼁Chef de produit senior

1-888-ROBOTIQ (762-6847)

1-418-380-2788 (Outside US & Canada)

<https://robotiq.com/>

  <https://www.linkedin.com/company/robotiq/>
<https://www.facebook.com/robotiq>  <https://www.instagram.c

[2022-05-10 09:25] lianghongzhuo commented on #200
I have access of the robotiq 3finger gripper with force torque sensor. And we have a custom Bluetooth adapter

[2022-05-10 09:29] gavanderhoorn commented on #200
@nicolaslauzier: would this be an opportunity to discuss maintenance of this repository in general?

It's been a while since you've been active here, but it appears you're still monitoring.

[2022-05-10 13:24] nicolaslauzier commented on #200
Robotiq has stopped the support of the packages as we are more focussed on
our other types of integration with robots, but if community members want
to support the packages that would be perfect.

On Tue, May 10, 2022 at 5:29 AM G.A. vd. Hoorn ***@***.***>
wrote:

--

Nicolas Lauzier, Eng., Ph. D. / ing.

Senior Product Manager⼁Chef de produit senior

1-888-ROBOTIQ (762-6847)

1-418-380-2788 (Outs

[2022-05-10 13:26] gavanderhoorn commented on #200
If that's the case, I'd like to suggest migrating this repository out of the `ros-industrial` organisation.

There is nothing linking the packages here to the ros-industrial effort (any more), and hosting the repository here gives off a wrong impression.

[2022-05-10 13:28] gavanderhoorn commented on #200
our other types of integration with robots

an official statement -- added to the readme for instance -- about this would also have been appreciated.

It would have at least informed your customers what the status of the repository and the packages in it is.

Leaving everything in limbo by abandoning it has led to a great deal of fragmentation, duplication of effort and alternative packages.

Very

[2022-05-10 14:49] benediktkreis commented on #150
Is there a way to do the same with Ignition Gazebo Fortress? As far as I've seen the plugin libroboticsgroup_gazebo_mimic_joint_plugin.so is only available for Gazebo Classic.

[2022-05-10 15:20] nicolaslauzier commented on #200
Sorry, my answer was not clear.

We are not actively maintaining and developing those packages but we are
helping our customers as much as possible if they experience issues. We
have worked with external resources for a certain time but it is not
something we've been able to do recently.

I'll look to clarify the status of the package.

On Tue, May 10, 2022 at 9:29 AM G.A. vd. Hoorn ***@***.***>
w

[2022-05-11 19:42] lianghongzhuo commented on #200
I'm currently maintaining our robotiq gripper. Feel free to use our fork which supports ros noetic.
https://github.com/TAMS-Group/robotiq
@gavanderhoorn feel free to link our repo as your repo is outdated.

[2022-06-02 21:41] JohnnyMudcrab commented on #198
Have you also changed the dependency inside the package.xml from `python-pymodbus` to `python3-pymodbus`?

[2022-06-07 02:52] zhengnx0906 commented on #198
Thank you, it works.

[2022-06-07 02:53] #198 closed, assigned to nobody

[2022-06-30 14:38] adamanov commented on #189
There is also an alternative repo which in maintained by University Hamburg
https://github.com/TAMS-Group/robotiq

[2022-07-04 10:08] KentoYamamotoNU opened #201 "How to speed up the 'gripper.sendCommand()' process?"
I run the 'robotiq_2f_gripper_control/nodes/Robotiq2FGripperRtuNode.py', and found that the frequency of the published topic 'Robotiq2FGripper_robot_input' is about 2.193hz. I would like to speed up the frame rate to at least 60hz. I think 'gripper.sendCommand()' is taking a long time to process. Anyone knows how to speed up the 'gripper.sendCommand()' process?

The following is the results of the

[2022-07-07 08:59] KentoYamamotoNU commented on #201
The processing of 'self.client.write_registers(0x03E8, message, unit=0x0009)' in '/robotiq_modbus_rtu/src/robotiq_modbus_rtu/comModbusRtu.py' takes about 0.4s. Is there any way to speed up this process?

[2022-07-08 10:12] KentoYamamotoNU commented on #201
I found solution.
Thank you.

[2022-07-08 10:12] #201 closed, assigned to nobody

[2022-07-08 10:15] gavanderhoorn commented on #201
You might want to explain what you did/changed, to help your fellow Robotiq users.

[2022-08-17 06:31] ZZWang21 commented on #187
Hi, @Mingrui-Yu can I ask which topic did you use to get the image? Thank you.

[2022-08-17 06:33] ZZWang21 commented on #185
Hi, @jeff-o  have you got a solution? Thank you.

[2022-08-17 06:41] ZZWang21 commented on #167
HI, @danfergo , sorry, i did not understand your reply. Did you mean that you connect the gripper to UR5, and connect the UR5 to your computer? How did you connect? And what is ROBOTIQ User Interface?  Thank you.

[2022-08-17 16:41] jeff-o commented on #185
Hopefully this helps!

Install the Clearpath Robotics' fork of the Robotiq driver. Note that this repository supports all of their
grippers, as well as the force-torque sensor.

Install necessary dependencies.
sudo apt-get install ros-melodic-gazebo-plugins
sudo apt-get install ros-melodic-socketcan-interface
sudo apt-get install ros-melodic-soem
pip install pymodbus

Create a workspace if you hav

[2022-10-20 09:57] abuibaid opened #202 "Can't reset robotiq gripper 2f 85 after emergeny button!"
Hi everyone,

Whenever an emergency stop button is pressed and then released the robotiq gripper starts with red and blue blinking, and fault status shows "0x05 - Action delayed, activation (reactivation) must be completed prior to perfmoring the action".

The thing that we reset the gripper many times, sometimes it works and sometimes it doesn't. Is there any solution to that or did anyone has en

[2022-10-28 16:49] tammerb commented on #167
Hi all. This fork of the robotiq driver repo seems to be the most up to date.
https://github.com/TAMS-Group/robotiq

They appear to be doing their best to keep up to date with the pymodbus updates. All I had to do was comment out two lines:
`#        status = gripper.getStatus()`
`#        pub.publish(status)`

that are throwing attribute errors in [this file](https://github.com/TAMS-Group/robotiq